---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Button_Gul from "../components/Button_Gul.astro";
import Button_S_Gul from "../components/Button_S_Gul.astro";
import Button_S_Rod from "../components/Button_S_Rod.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import scooper from "../assets/images/scooper.webp";
import frabutik from "../assets/images/frabutik.webp";
import hojkvalitet from "../assets/images/hojkvalitet.webp";
import smag from "../assets/images/smag.webp";
import oplevelse from "../assets/images/oplevelse.webp";
import saesonis from "../assets/images/saesonis.webp";
import forside1 from "../assets/images/forside1.webp";
import forside2 from "../assets/images/forside2.webp";
import ishænder from "../assets/images/ishænder.webp";
import "animate.css";
import istidbutik from "/public/istidbutik.webp";
import brandbil from "../assets/images/brandbil.webp";
---

<MainLayout title="FORSIDE" page="index">
  <article class="">
    <section class="bg-blaa-50 relative pb-L overflow-hidden">
      <div class="p-M md:px-L md:ml-M pt-L">
        <h3 class="h2_mobil md:h2 text-rod-500 pb-XS">Velkommen til istid</h3>
        <h1 class="h1 md:display text-blaa-600 md:pb-XXS">
          Is på en helt <br /> ny måde
        </h1>
        <p class="pstor text-blaa-600 pb-S">
          Håndlavet økologisk nitrogen is <br /> til hverdag og events
        </p>
        <a href="event"><Button>Book os nu</Button></a>
      </div>

      <!-- Grafik og billeder-wrapper -->
      <div class="relative w-full h-[100px]">
        <svg
          width="332"
          height="319"
          class="absolute bottom-[-123px] md:bottom-[-129px] right-[0] z-10 md:w-[532px] md:h-[519px]"
          viewBox="0 0 232 219"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M326 153.662C326 197.556 306.77 213.523 275.745 218.71C275.745 218.71 207.553 219 164.092 219C98.854 219 15.4268 219 15.4268 219C5.53131 199.172 0 177.026 0 153.662C0 68.7967 72.9776 0 163 0C253.022 0 326 68.7967 326 153.662Z"
            fill="#DD3032"></path>
        </svg>

        <!-- Billeder -->
        <Image
          src={ishænder}
          alt="Billede af en person der scooper is."
          class="absolute w-[300px] h-[350px] md:w-[800px] md:h-[750px] bottom-[-120px] right-[10px] md:right-[-8%] z-20"
          loading="lazy"
        />
      </div>
    </section>

    <section class="text-center p-L md:py-XL md:px-XXL relative group">
      <h2 class="h2_mobil md:h2 text-rod-500">Økologisk nitrogen is</h2>
      <p class="pstor_mobil md:p text-blaa-900">
        Økologisk nitrogen-is fra hjertet af Nørrebro – friskfrosset på stedet
        for en cremet, intens smagsoplevelse. <br /> Vi laver også catering i hele
        Danmark!
      </p>
      <div
        class="absolute z-[-1] top-[10%] left-[15%] group-hover:animate__animated group-hover:animate__tada"
        style="rotate: -30deg; "
      >
        <svg
          width="117"
          height="139"
          viewBox="0 0 63 75"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="svg-animate"
        >
          <g clip-path="url(#clip0_668_379)">
            <path
              d="M2.8324 37.2784C4.41317 46.9759 6.06121 57.012 7.64535 66.7061C8.40211 67.7687 9.64991 69.247 11.5603 70.4906C13.4303 71.7074 15.2734 72.2638 18.5594 72.8572C21.9396 73.4672 24.9868 74.0136 29.5946 74.0404C35.5343 74.0706 39.6174 73.2091 44.0704 72.2672C48.3217 71.3688 50.8745 70.494 52.8488 68.2481C53.7569 67.2156 54.295 66.1765 54.6112 65.4324C54.6482 64.5306 54.6953 63.6189 54.7491 62.7038C55.3141 53.5225 56.8108 44.958 58.8793 37.0605"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M3.14851 30.5244C2.70119 30.7456 2.06215 31.1177 1.4332 31.7379C0.99933 32.1636 0.800892 32.5055 0.632725 33.015C0.158492 34.4564 1.54756 36.1693 1.79308 36.424C2.95344 37.6442 4.36941 38.1135 7.13072 38.6833C11.049 39.4912 14.1904 39.7761 15.5391 39.8968C18.9092 40.1951 20.5942 40.3426 22.7871 40.4499C31.8379 40.8856 39.2541 40.3593 42.1499 40.118C49.4349 39.5146 51.7187 39.4208 54.4867 38.5727C57.2379 37.7313 59.4039 36.6989 60.8502 35.9246C61.0553 35.6564 61.358 35.1804 61.4791 34.5234C61.6473 33.5949 61.3513 32.8608 61.2336 32.5759C61.0755 32.2004 60.9914 32.063 60.8468 31.8786"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M3.74384 31.4629C3.53531 31.483 3.12835 31.8785 2.89627 32.5255C2.57003 33.4272 3.5454 34.3557 3.74384 34.4965C4.82011 35.244 5.85939 35.4116 6.78767 35.5692C12.2531 36.501 9.2261 36.263 11.9773 36.5346C20.3083 37.3558 24.4015 37.4798 24.4015 37.4798C26.9476 37.5569 31.1686 37.6743 36.8762 37.4798C43.3877 37.2586 46.9932 37.1145 51.796 36.0887C54.7827 35.4485 57.211 34.6842 58.8826 34.101C58.9263 34.0775 59.8008 33.6618 59.784 33.5982"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M32.3761 63.9877C38.8515 63.9877 44.1008 58.7561 44.1008 52.3025C44.1008 45.8489 38.8515 40.6172 32.3761 40.6172C25.9008 40.6172 20.6515 45.8489 20.6515 52.3025C20.6515 58.7561 25.9008 63.9877 32.3761 63.9877Z"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M32.3761 63.9875C37.5826 63.9875 41.9953 60.6019 43.5256 55.9225C40.6029 51.6519 37.6835 47.3848 34.7607 43.1143C33.2136 45.9166 31.5117 48.9636 29.9646 51.7659"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M34.0511 58.7616C30.7516 53.1133 30.0319 51.8865 26.7324 46.2383C25.007 49.7345 23.285 53.2307 21.5596 56.7235"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M32.3762 63.9882C35.9245 63.9882 39.0995 62.4161 41.2487 59.9355C39.9168 58.7456 38.7665 57.6595 36.3248 55.1924C34.5893 58.102 32.8538 61.0116 31.1183 63.9178C31.532 63.9614 31.949 63.9848 32.3728 63.9848L32.3762 63.9882Z"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M25.6057 66.0697L25.5989 66.2138V71.1916L25.646 71.7279H24.7009L24.748 71.1916V66.2138L24.7547 66.0697L24.7077 65.54H25.6528L25.6057 66.0697Z"
              fill="#FDE179"></path>
            <path
              d="M28.2762 66.3648V66.3882C28.2628 67.0553 28.5184 67.7022 28.7336 68.319C28.9691 68.9693 29.2213 69.6666 29.2213 70.4275C29.2213 70.7794 29.1641 71.3158 28.9018 71.7247H27.0721C27.1899 71.3158 27.2403 71.1314 27.2807 70.7794L28.33 70.8766C28.3637 70.7727 28.3771 70.6521 28.3771 70.5314C28.3771 69.499 27.8423 68.5771 27.5699 67.6218C27.4724 67.2933 27.4085 66.9547 27.4085 66.6128C27.4085 66.2709 27.5195 65.9156 27.7414 65.5469H29.4938C29.3424 65.9726 29.2852 66.157 29.2213 66.5156L28.2695 66.3648H28.2762Z"
              fill="#FDE179"></path>
            <path
              d="M33.2607 66.3814L32.3021 66.3881V71.1983L32.3425 71.7279H31.3974L31.4444 71.1916V66.3814H30.4859L30.4287 65.54H33.3145L33.2573 66.3814H33.2607Z"
              fill="#FDE179"></path>
            <path
              d="M35.3594 66.0697L35.3527 66.2138V71.1916L35.4031 71.7279H34.458L34.5085 71.1916V66.2138L34.5152 66.0697L34.4647 65.54H35.4098L35.3627 66.0697H35.3594Z"
              fill="#FDE179"></path>
            <path
              d="M39.1364 71.7281H37.105V66.1234L37.7373 65.5469H38.9952C39.6477 66.0664 40.0513 66.5491 40.0513 67.7827C40.0513 68.7749 39.9537 69.804 39.8427 70.8532C39.577 71.1012 39.3282 71.3828 39.1331 71.7281H39.1364ZM37.9525 66.3514C37.9727 67.0654 37.9727 68.252 37.9727 68.252L37.966 70.8666H38.9683C39.1364 69.9113 39.1903 69.0062 39.1903 68.0844C39.1903 67.4039 39.1835 66.3681 38.2586 66.3614L37.9525 66.3547V66.3514Z"
              fill="#FDE179"></path>
            <path
              d="M6.42107 35.5092C6.06792 35.1405 5.3078 34.1148 4.78312 33.3706C4.38624 32.8075 2.61376 30.2029 2.10589 26.1972C1.88391 24.4374 1.99154 23.1133 2.10589 21.8462C2.25051 20.2272 2.58012 16.5131 4.06336 13.6035C7.21146 7.42568 15.0582 5.83681 15.9629 5.66585C25.4072 3.88926 32.3121 10.4191 32.8402 10.9319C37.1621 15.1589 38.0601 20.187 38.6319 23.3714C39.1465 26.2575 39.8898 30.7627 37.4816 35.05C36.8628 36.1528 36.1834 36.9774 35.6755 37.5238"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M31.922 9.99349C32.5711 9.58789 33.4759 9.07168 34.6026 8.57557C35.5443 8.15992 38.7799 6.80904 42.5939 6.72859C49.7377 6.57439 54.9273 10.9488 55.5731 11.5086C56.8108 12.5813 61.6809 16.9457 62.1585 24.1258C62.4309 28.2488 61.1361 31.4701 60.3692 33.0456C59.9723 33.4143 59.4073 34.0914 58.4925 34.2356C58.3478 34.259 58.0418 34.4266 57.9072 34.4333"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M17.9373 5.3569C19.0203 4.31106 22.4172 1.29421 27.8053 0.586923C29.4029 0.375743 34.6397 -0.348301 39.1566 2.97359C40.8787 4.24066 41.9583 5.69881 42.594 6.72789"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
          </g>
          <defs>
            <clipPath id="clip0_668_379">
              <rect
                width="62"
                height="74"
                fill="white"
                transform="translate(0.367065 0.205078)"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
      <div
        class="absolute z-[-1] top-[10%] right-[15%] group-hover:animate__animated group-hover:animate__tada"
        style="rotate: -340deg;"
      >
        <svg
          width="117"
          height="139"
          viewBox="0 0 63 75"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="svg-animate"
        >
          <g clip-path="url(#clip0_668_379)">
            <path
              d="M2.8324 37.2784C4.41317 46.9759 6.06121 57.012 7.64535 66.7061C8.40211 67.7687 9.64991 69.247 11.5603 70.4906C13.4303 71.7074 15.2734 72.2638 18.5594 72.8572C21.9396 73.4672 24.9868 74.0136 29.5946 74.0404C35.5343 74.0706 39.6174 73.2091 44.0704 72.2672C48.3217 71.3688 50.8745 70.494 52.8488 68.2481C53.7569 67.2156 54.295 66.1765 54.6112 65.4324C54.6482 64.5306 54.6953 63.6189 54.7491 62.7038C55.3141 53.5225 56.8108 44.958 58.8793 37.0605"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M3.14851 30.5244C2.70119 30.7456 2.06215 31.1177 1.4332 31.7379C0.99933 32.1636 0.800892 32.5055 0.632725 33.015C0.158492 34.4564 1.54756 36.1693 1.79308 36.424C2.95344 37.6442 4.36941 38.1135 7.13072 38.6833C11.049 39.4912 14.1904 39.7761 15.5391 39.8968C18.9092 40.1951 20.5942 40.3426 22.7871 40.4499C31.8379 40.8856 39.2541 40.3593 42.1499 40.118C49.4349 39.5146 51.7187 39.4208 54.4867 38.5727C57.2379 37.7313 59.4039 36.6989 60.8502 35.9246C61.0553 35.6564 61.358 35.1804 61.4791 34.5234C61.6473 33.5949 61.3513 32.8608 61.2336 32.5759C61.0755 32.2004 60.9914 32.063 60.8468 31.8786"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M3.74384 31.4629C3.53531 31.483 3.12835 31.8785 2.89627 32.5255C2.57003 33.4272 3.5454 34.3557 3.74384 34.4965C4.82011 35.244 5.85939 35.4116 6.78767 35.5692C12.2531 36.501 9.2261 36.263 11.9773 36.5346C20.3083 37.3558 24.4015 37.4798 24.4015 37.4798C26.9476 37.5569 31.1686 37.6743 36.8762 37.4798C43.3877 37.2586 46.9932 37.1145 51.796 36.0887C54.7827 35.4485 57.211 34.6842 58.8826 34.101C58.9263 34.0775 59.8008 33.6618 59.784 33.5982"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M32.3761 63.9877C38.8515 63.9877 44.1008 58.7561 44.1008 52.3025C44.1008 45.8489 38.8515 40.6172 32.3761 40.6172C25.9008 40.6172 20.6515 45.8489 20.6515 52.3025C20.6515 58.7561 25.9008 63.9877 32.3761 63.9877Z"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M32.3761 63.9875C37.5826 63.9875 41.9953 60.6019 43.5256 55.9225C40.6029 51.6519 37.6835 47.3848 34.7607 43.1143C33.2136 45.9166 31.5117 48.9636 29.9646 51.7659"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M34.0511 58.7616C30.7516 53.1133 30.0319 51.8865 26.7324 46.2383C25.007 49.7345 23.285 53.2307 21.5596 56.7235"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M32.3762 63.9882C35.9245 63.9882 39.0995 62.4161 41.2487 59.9355C39.9168 58.7456 38.7665 57.6595 36.3248 55.1924C34.5893 58.102 32.8538 61.0116 31.1183 63.9178C31.532 63.9614 31.949 63.9848 32.3728 63.9848L32.3762 63.9882Z"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M25.6057 66.0697L25.5989 66.2138V71.1916L25.646 71.7279H24.7009L24.748 71.1916V66.2138L24.7547 66.0697L24.7077 65.54H25.6528L25.6057 66.0697Z"
              fill="#FDE179"></path>
            <path
              d="M28.2762 66.3648V66.3882C28.2628 67.0553 28.5184 67.7022 28.7336 68.319C28.9691 68.9693 29.2213 69.6666 29.2213 70.4275C29.2213 70.7794 29.1641 71.3158 28.9018 71.7247H27.0721C27.1899 71.3158 27.2403 71.1314 27.2807 70.7794L28.33 70.8766C28.3637 70.7727 28.3771 70.6521 28.3771 70.5314C28.3771 69.499 27.8423 68.5771 27.5699 67.6218C27.4724 67.2933 27.4085 66.9547 27.4085 66.6128C27.4085 66.2709 27.5195 65.9156 27.7414 65.5469H29.4938C29.3424 65.9726 29.2852 66.157 29.2213 66.5156L28.2695 66.3648H28.2762Z"
              fill="#FDE179"></path>
            <path
              d="M33.2607 66.3814L32.3021 66.3881V71.1983L32.3425 71.7279H31.3974L31.4444 71.1916V66.3814H30.4859L30.4287 65.54H33.3145L33.2573 66.3814H33.2607Z"
              fill="#FDE179"></path>
            <path
              d="M35.3594 66.0697L35.3527 66.2138V71.1916L35.4031 71.7279H34.458L34.5085 71.1916V66.2138L34.5152 66.0697L34.4647 65.54H35.4098L35.3627 66.0697H35.3594Z"
              fill="#FDE179"></path>
            <path
              d="M39.1364 71.7281H37.105V66.1234L37.7373 65.5469H38.9952C39.6477 66.0664 40.0513 66.5491 40.0513 67.7827C40.0513 68.7749 39.9537 69.804 39.8427 70.8532C39.577 71.1012 39.3282 71.3828 39.1331 71.7281H39.1364ZM37.9525 66.3514C37.9727 67.0654 37.9727 68.252 37.9727 68.252L37.966 70.8666H38.9683C39.1364 69.9113 39.1903 69.0062 39.1903 68.0844C39.1903 67.4039 39.1835 66.3681 38.2586 66.3614L37.9525 66.3547V66.3514Z"
              fill="#FDE179"></path>
            <path
              d="M6.42107 35.5092C6.06792 35.1405 5.3078 34.1148 4.78312 33.3706C4.38624 32.8075 2.61376 30.2029 2.10589 26.1972C1.88391 24.4374 1.99154 23.1133 2.10589 21.8462C2.25051 20.2272 2.58012 16.5131 4.06336 13.6035C7.21146 7.42568 15.0582 5.83681 15.9629 5.66585C25.4072 3.88926 32.3121 10.4191 32.8402 10.9319C37.1621 15.1589 38.0601 20.187 38.6319 23.3714C39.1465 26.2575 39.8898 30.7627 37.4816 35.05C36.8628 36.1528 36.1834 36.9774 35.6755 37.5238"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M31.922 9.99349C32.5711 9.58789 33.4759 9.07168 34.6026 8.57557C35.5443 8.15992 38.7799 6.80904 42.5939 6.72859C49.7377 6.57439 54.9273 10.9488 55.5731 11.5086C56.8108 12.5813 61.6809 16.9457 62.1585 24.1258C62.4309 28.2488 61.1361 31.4701 60.3692 33.0456C59.9723 33.4143 59.4073 34.0914 58.4925 34.2356C58.3478 34.259 58.0418 34.4266 57.9072 34.4333"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M17.9373 5.3569C19.0203 4.31106 22.4172 1.29421 27.8053 0.586923C29.4029 0.375743 34.6397 -0.348301 39.1566 2.97359C40.8787 4.24066 41.9583 5.69881 42.594 6.72789"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
          </g>
          <defs>
            <clipPath id="clip0_668_379">
              <rect
                width="62"
                height="74"
                fill="white"
                transform="translate(0.367065 0.205078)"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
      <div
        class="absolute z-[-1] top-[60%] left-[5%] group-hover:animate__animated group-hover:animate__tada"
        style="rotate: -340deg;"
      >
        <svg
          width="117"
          height="139"
          viewBox="0 0 63 75"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="svg-animate"
        >
          <g clip-path="url(#clip0_668_379)">
            <path
              d="M2.8324 37.2784C4.41317 46.9759 6.06121 57.012 7.64535 66.7061C8.40211 67.7687 9.64991 69.247 11.5603 70.4906C13.4303 71.7074 15.2734 72.2638 18.5594 72.8572C21.9396 73.4672 24.9868 74.0136 29.5946 74.0404C35.5343 74.0706 39.6174 73.2091 44.0704 72.2672C48.3217 71.3688 50.8745 70.494 52.8488 68.2481C53.7569 67.2156 54.295 66.1765 54.6112 65.4324C54.6482 64.5306 54.6953 63.6189 54.7491 62.7038C55.3141 53.5225 56.8108 44.958 58.8793 37.0605"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M3.14851 30.5244C2.70119 30.7456 2.06215 31.1177 1.4332 31.7379C0.99933 32.1636 0.800892 32.5055 0.632725 33.015C0.158492 34.4564 1.54756 36.1693 1.79308 36.424C2.95344 37.6442 4.36941 38.1135 7.13072 38.6833C11.049 39.4912 14.1904 39.7761 15.5391 39.8968C18.9092 40.1951 20.5942 40.3426 22.7871 40.4499C31.8379 40.8856 39.2541 40.3593 42.1499 40.118C49.4349 39.5146 51.7187 39.4208 54.4867 38.5727C57.2379 37.7313 59.4039 36.6989 60.8502 35.9246C61.0553 35.6564 61.358 35.1804 61.4791 34.5234C61.6473 33.5949 61.3513 32.8608 61.2336 32.5759C61.0755 32.2004 60.9914 32.063 60.8468 31.8786"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M3.74384 31.4629C3.53531 31.483 3.12835 31.8785 2.89627 32.5255C2.57003 33.4272 3.5454 34.3557 3.74384 34.4965C4.82011 35.244 5.85939 35.4116 6.78767 35.5692C12.2531 36.501 9.2261 36.263 11.9773 36.5346C20.3083 37.3558 24.4015 37.4798 24.4015 37.4798C26.9476 37.5569 31.1686 37.6743 36.8762 37.4798C43.3877 37.2586 46.9932 37.1145 51.796 36.0887C54.7827 35.4485 57.211 34.6842 58.8826 34.101C58.9263 34.0775 59.8008 33.6618 59.784 33.5982"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M32.3761 63.9877C38.8515 63.9877 44.1008 58.7561 44.1008 52.3025C44.1008 45.8489 38.8515 40.6172 32.3761 40.6172C25.9008 40.6172 20.6515 45.8489 20.6515 52.3025C20.6515 58.7561 25.9008 63.9877 32.3761 63.9877Z"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M32.3761 63.9875C37.5826 63.9875 41.9953 60.6019 43.5256 55.9225C40.6029 51.6519 37.6835 47.3848 34.7607 43.1143C33.2136 45.9166 31.5117 48.9636 29.9646 51.7659"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M34.0511 58.7616C30.7516 53.1133 30.0319 51.8865 26.7324 46.2383C25.007 49.7345 23.285 53.2307 21.5596 56.7235"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M32.3762 63.9882C35.9245 63.9882 39.0995 62.4161 41.2487 59.9355C39.9168 58.7456 38.7665 57.6595 36.3248 55.1924C34.5893 58.102 32.8538 61.0116 31.1183 63.9178C31.532 63.9614 31.949 63.9848 32.3728 63.9848L32.3762 63.9882Z"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M25.6057 66.0697L25.5989 66.2138V71.1916L25.646 71.7279H24.7009L24.748 71.1916V66.2138L24.7547 66.0697L24.7077 65.54H25.6528L25.6057 66.0697Z"
              fill="#FDE179"></path>
            <path
              d="M28.2762 66.3648V66.3882C28.2628 67.0553 28.5184 67.7022 28.7336 68.319C28.9691 68.9693 29.2213 69.6666 29.2213 70.4275C29.2213 70.7794 29.1641 71.3158 28.9018 71.7247H27.0721C27.1899 71.3158 27.2403 71.1314 27.2807 70.7794L28.33 70.8766C28.3637 70.7727 28.3771 70.6521 28.3771 70.5314C28.3771 69.499 27.8423 68.5771 27.5699 67.6218C27.4724 67.2933 27.4085 66.9547 27.4085 66.6128C27.4085 66.2709 27.5195 65.9156 27.7414 65.5469H29.4938C29.3424 65.9726 29.2852 66.157 29.2213 66.5156L28.2695 66.3648H28.2762Z"
              fill="#FDE179"></path>
            <path
              d="M33.2607 66.3814L32.3021 66.3881V71.1983L32.3425 71.7279H31.3974L31.4444 71.1916V66.3814H30.4859L30.4287 65.54H33.3145L33.2573 66.3814H33.2607Z"
              fill="#FDE179"></path>
            <path
              d="M35.3594 66.0697L35.3527 66.2138V71.1916L35.4031 71.7279H34.458L34.5085 71.1916V66.2138L34.5152 66.0697L34.4647 65.54H35.4098L35.3627 66.0697H35.3594Z"
              fill="#FDE179"></path>
            <path
              d="M39.1364 71.7281H37.105V66.1234L37.7373 65.5469H38.9952C39.6477 66.0664 40.0513 66.5491 40.0513 67.7827C40.0513 68.7749 39.9537 69.804 39.8427 70.8532C39.577 71.1012 39.3282 71.3828 39.1331 71.7281H39.1364ZM37.9525 66.3514C37.9727 67.0654 37.9727 68.252 37.9727 68.252L37.966 70.8666H38.9683C39.1364 69.9113 39.1903 69.0062 39.1903 68.0844C39.1903 67.4039 39.1835 66.3681 38.2586 66.3614L37.9525 66.3547V66.3514Z"
              fill="#FDE179"></path>
            <path
              d="M6.42107 35.5092C6.06792 35.1405 5.3078 34.1148 4.78312 33.3706C4.38624 32.8075 2.61376 30.2029 2.10589 26.1972C1.88391 24.4374 1.99154 23.1133 2.10589 21.8462C2.25051 20.2272 2.58012 16.5131 4.06336 13.6035C7.21146 7.42568 15.0582 5.83681 15.9629 5.66585C25.4072 3.88926 32.3121 10.4191 32.8402 10.9319C37.1621 15.1589 38.0601 20.187 38.6319 23.3714C39.1465 26.2575 39.8898 30.7627 37.4816 35.05C36.8628 36.1528 36.1834 36.9774 35.6755 37.5238"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M31.922 9.99349C32.5711 9.58789 33.4759 9.07168 34.6026 8.57557C35.5443 8.15992 38.7799 6.80904 42.5939 6.72859C49.7377 6.57439 54.9273 10.9488 55.5731 11.5086C56.8108 12.5813 61.6809 16.9457 62.1585 24.1258C62.4309 28.2488 61.1361 31.4701 60.3692 33.0456C59.9723 33.4143 59.4073 34.0914 58.4925 34.2356C58.3478 34.259 58.0418 34.4266 57.9072 34.4333"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M17.9373 5.3569C19.0203 4.31106 22.4172 1.29421 27.8053 0.586923C29.4029 0.375743 34.6397 -0.348301 39.1566 2.97359C40.8787 4.24066 41.9583 5.69881 42.594 6.72789"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
          </g>
          <defs>
            <clipPath id="clip0_668_379">
              <rect
                width="62"
                height="74"
                fill="white"
                transform="translate(0.367065 0.205078)"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
      <div
        class="absolute z-[-1] top-[60%] right-[5%] group-hover:animate__animated group-hover:animate__tada"
        style="rotate: -20deg;"
      >
        <svg
          width="117"
          height="139"
          viewBox="0 0 63 75"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="svg-animate"
        >
          <g clip-path="url(#clip0_668_379)">
            <path
              d="M2.8324 37.2784C4.41317 46.9759 6.06121 57.012 7.64535 66.7061C8.40211 67.7687 9.64991 69.247 11.5603 70.4906C13.4303 71.7074 15.2734 72.2638 18.5594 72.8572C21.9396 73.4672 24.9868 74.0136 29.5946 74.0404C35.5343 74.0706 39.6174 73.2091 44.0704 72.2672C48.3217 71.3688 50.8745 70.494 52.8488 68.2481C53.7569 67.2156 54.295 66.1765 54.6112 65.4324C54.6482 64.5306 54.6953 63.6189 54.7491 62.7038C55.3141 53.5225 56.8108 44.958 58.8793 37.0605"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M3.14851 30.5244C2.70119 30.7456 2.06215 31.1177 1.4332 31.7379C0.99933 32.1636 0.800892 32.5055 0.632725 33.015C0.158492 34.4564 1.54756 36.1693 1.79308 36.424C2.95344 37.6442 4.36941 38.1135 7.13072 38.6833C11.049 39.4912 14.1904 39.7761 15.5391 39.8968C18.9092 40.1951 20.5942 40.3426 22.7871 40.4499C31.8379 40.8856 39.2541 40.3593 42.1499 40.118C49.4349 39.5146 51.7187 39.4208 54.4867 38.5727C57.2379 37.7313 59.4039 36.6989 60.8502 35.9246C61.0553 35.6564 61.358 35.1804 61.4791 34.5234C61.6473 33.5949 61.3513 32.8608 61.2336 32.5759C61.0755 32.2004 60.9914 32.063 60.8468 31.8786"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M3.74384 31.4629C3.53531 31.483 3.12835 31.8785 2.89627 32.5255C2.57003 33.4272 3.5454 34.3557 3.74384 34.4965C4.82011 35.244 5.85939 35.4116 6.78767 35.5692C12.2531 36.501 9.2261 36.263 11.9773 36.5346C20.3083 37.3558 24.4015 37.4798 24.4015 37.4798C26.9476 37.5569 31.1686 37.6743 36.8762 37.4798C43.3877 37.2586 46.9932 37.1145 51.796 36.0887C54.7827 35.4485 57.211 34.6842 58.8826 34.101C58.9263 34.0775 59.8008 33.6618 59.784 33.5982"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M32.3761 63.9877C38.8515 63.9877 44.1008 58.7561 44.1008 52.3025C44.1008 45.8489 38.8515 40.6172 32.3761 40.6172C25.9008 40.6172 20.6515 45.8489 20.6515 52.3025C20.6515 58.7561 25.9008 63.9877 32.3761 63.9877Z"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M32.3761 63.9875C37.5826 63.9875 41.9953 60.6019 43.5256 55.9225C40.6029 51.6519 37.6835 47.3848 34.7607 43.1143C33.2136 45.9166 31.5117 48.9636 29.9646 51.7659"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M34.0511 58.7616C30.7516 53.1133 30.0319 51.8865 26.7324 46.2383C25.007 49.7345 23.285 53.2307 21.5596 56.7235"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M32.3762 63.9882C35.9245 63.9882 39.0995 62.4161 41.2487 59.9355C39.9168 58.7456 38.7665 57.6595 36.3248 55.1924C34.5893 58.102 32.8538 61.0116 31.1183 63.9178C31.532 63.9614 31.949 63.9848 32.3728 63.9848L32.3762 63.9882Z"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M25.6057 66.0697L25.5989 66.2138V71.1916L25.646 71.7279H24.7009L24.748 71.1916V66.2138L24.7547 66.0697L24.7077 65.54H25.6528L25.6057 66.0697Z"
              fill="#FDE179"></path>
            <path
              d="M28.2762 66.3648V66.3882C28.2628 67.0553 28.5184 67.7022 28.7336 68.319C28.9691 68.9693 29.2213 69.6666 29.2213 70.4275C29.2213 70.7794 29.1641 71.3158 28.9018 71.7247H27.0721C27.1899 71.3158 27.2403 71.1314 27.2807 70.7794L28.33 70.8766C28.3637 70.7727 28.3771 70.6521 28.3771 70.5314C28.3771 69.499 27.8423 68.5771 27.5699 67.6218C27.4724 67.2933 27.4085 66.9547 27.4085 66.6128C27.4085 66.2709 27.5195 65.9156 27.7414 65.5469H29.4938C29.3424 65.9726 29.2852 66.157 29.2213 66.5156L28.2695 66.3648H28.2762Z"
              fill="#FDE179"></path>
            <path
              d="M33.2607 66.3814L32.3021 66.3881V71.1983L32.3425 71.7279H31.3974L31.4444 71.1916V66.3814H30.4859L30.4287 65.54H33.3145L33.2573 66.3814H33.2607Z"
              fill="#FDE179"></path>
            <path
              d="M35.3594 66.0697L35.3527 66.2138V71.1916L35.4031 71.7279H34.458L34.5085 71.1916V66.2138L34.5152 66.0697L34.4647 65.54H35.4098L35.3627 66.0697H35.3594Z"
              fill="#FDE179"></path>
            <path
              d="M39.1364 71.7281H37.105V66.1234L37.7373 65.5469H38.9952C39.6477 66.0664 40.0513 66.5491 40.0513 67.7827C40.0513 68.7749 39.9537 69.804 39.8427 70.8532C39.577 71.1012 39.3282 71.3828 39.1331 71.7281H39.1364ZM37.9525 66.3514C37.9727 67.0654 37.9727 68.252 37.9727 68.252L37.966 70.8666H38.9683C39.1364 69.9113 39.1903 69.0062 39.1903 68.0844C39.1903 67.4039 39.1835 66.3681 38.2586 66.3614L37.9525 66.3547V66.3514Z"
              fill="#FDE179"></path>
            <path
              d="M6.42107 35.5092C6.06792 35.1405 5.3078 34.1148 4.78312 33.3706C4.38624 32.8075 2.61376 30.2029 2.10589 26.1972C1.88391 24.4374 1.99154 23.1133 2.10589 21.8462C2.25051 20.2272 2.58012 16.5131 4.06336 13.6035C7.21146 7.42568 15.0582 5.83681 15.9629 5.66585C25.4072 3.88926 32.3121 10.4191 32.8402 10.9319C37.1621 15.1589 38.0601 20.187 38.6319 23.3714C39.1465 26.2575 39.8898 30.7627 37.4816 35.05C36.8628 36.1528 36.1834 36.9774 35.6755 37.5238"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M31.922 9.99349C32.5711 9.58789 33.4759 9.07168 34.6026 8.57557C35.5443 8.15992 38.7799 6.80904 42.5939 6.72859C49.7377 6.57439 54.9273 10.9488 55.5731 11.5086C56.8108 12.5813 61.6809 16.9457 62.1585 24.1258C62.4309 28.2488 61.1361 31.4701 60.3692 33.0456C59.9723 33.4143 59.4073 34.0914 58.4925 34.2356C58.3478 34.259 58.0418 34.4266 57.9072 34.4333"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M17.9373 5.3569C19.0203 4.31106 22.4172 1.29421 27.8053 0.586923C29.4029 0.375743 34.6397 -0.348301 39.1566 2.97359C40.8787 4.24066 41.9583 5.69881 42.594 6.72789"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
          </g>
          <defs>
            <clipPath id="clip0_668_379">
              <rect
                width="62"
                height="74"
                fill="white"
                transform="translate(0.367065 0.205078)"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
    </section>
    <section class="md:grid grid-cols-2 bg-gul-300">
      <div>
        <Image
          src={scooper}
          alt="Billede af en person der scooper is."
          class="h-[550px] w-[600px] md:w-full md:h-[600px] object-cover"
          loading="lazy"
        />
      </div>
      <div class="md:p-L p-M">
        <h2 class="h2_mobil md:h2 text-gron-800 pb-XS">
          NITROGEN IS MERE END GOD SMAG
        </h2>
        <p class="pstor_mobil md:p text-gron-800 pb-XS" id="nitrogen1">
          Hos ISTID bruger vi flydende nitrogen til at fryse isen – det sker ved
          minus 196 grader og direkte foran dig!
        </p>
        <p class="pstor_mobil md:p text-gron-800" id="nitrogen2">
          Når isen lynfryses på denne måde, bevares smagene bedre, og strukturen
          bliver ekstra cremet.
        </p>
      </div>
    </section>
    <section class="bg-rod-100 md:grid md:grid-cols-2 p-M md:px-L md:py-L">
      <div class="grid content-center text-center md:text-start pb-S">
        <h2 class="h2_mobil md:h2 text-blaa-600 pb-XS">EVENTS OG CATERING</h2>
        <p class="pstor_mobil md:p text-rod-500 pb-XS">
          Gør dit event til en uforglemmelig oplevelse <br /> Book vores nitrogen-is
          catering i dag
        </p>
        <div class="md:pt-XS">
          <a href="event"><Button_S_Rod>BOOK NU</Button_S_Rod></a>
        </div>
      </div>

      <div>
        <Image
          src={brandbil}
          alt="Billede af et isevent."
          class="h-[200px] w-[200px] md:h-[450px] md:w-[450px] rounded-[300px] object-cover object-center mx-auto"
          loading="lazy"
        />
      </div>
    </section>
    <section class="relative p-M md:p-L">
      <Image
        src={istidbutik}
        alt="Billede af en person der scooper is."
        class="w-full h-[350px] md:w-full md:h-[650px] object-cover mx-auto"
        loading="lazy"
      />

      <div
        class="absolute bottom-[-40px] right-[20px] bg-gul-400 rounded-[600px] w-60 h-60 flex items-center justify-center text-center px-[45px] py-[45px] md:px-[50px] md:py-[80px]"
        id="isboks"
      >
        <p class="text-rod-500 pstor_mobil md:pstor">
          <span class="font-bold">Is er noget</span><br />
          <span class="font-bold">vidunderligt</span>
          og det <br />
          fortjener en <br />fremtid, ikke kun <br />
          en fortid
        </p>
      </div>
    </section>
    <section class="p-M md:p-L">
      <h2 class="h2_mobil md:h2 text-blaa-700 pb-XS">
        fremtidens is - hvem er istid
      </h2>
      <div class="md:grid grid-cols-2 gap-M md:py-S" id="hvemeristid">
        <p class="md:p p_mobil text-blaa-900 pb-XS">
          Hos Istid skaber vi fremtidens is – ikke bare med flydende nitrogen,
          men med nysgerrighed, kvalitet og omtanke. Is er noget magisk. Det
          vækker minder om barndom, frihed og varme somre, men for os handler
          det ikke om at kigge tilbage.
        </p>
        <p class="md:p p_mobil text-blaa-900">
          Vi tager følelsen med os og gentænker isen i en ny tid. Vi vælger
          økologi og bæredygtighed frem for nostalgi, innovation frem for
          tradition, og skaber en isoplevelse, der både overrasker og gør godt.
          For os er is ikke bare en dessert – det er en oplevelse i nuet, skabt
          til at deles.
        </p>
      </div>
    </section>
    <section class="bg-gron-400 md:grid grid-cols-2 p-M md:px-L">
      <div class="text-center md:text-left md:self-end">
        <h2 class="h2_mobil md:h2 text-gron-800 pb-XS">høj kvalitet</h2>
        <p class="pstor_mobil md:p text-gron-800 pb-S">
          Spørg bare, så fortæller vi dig det. Vi er stolte af at kunne fortælle
          vores kunder præcis, hvad der er i vores is. Vi ved det – for alt er
          lavet af os selv med de bedste økologiske råvarer og helt uden
          tilsætningsstoffer.
        </p>
      </div>
      <div class="md:justify-self-end">
        <Image
          src={hojkvalitet}
          alt="Billede af en person der scooper is."
          class="h-[300px] w-[300px] rounded-[300px] md:h-[500px] md:w-[500px] m-auto"
          loading="lazy"
        />
      </div>
    </section>
    <section class="bg-gul-400 p-M md:grid grid-cols-2 md:px-L">
      <div class="text-center md:text-left order-1 md:order-2 md:self-end">
        <h2 class="h2_mobil md:h2 text-gron-800 md:text-end pb-XS">
          Overraskende smage
        </h2>
        <p class="pstor_mobil md:p text-gron-800 pb-S md:text-end">
          Vi elsker at skabe nye smage, kombinationer og teksturer. Nogle bliver
          kasseret, mens andre er ren himmel – og det er dem, der ender på
          menuen. At udforske og udvikle smage er det, der holder os relevante,
          nysgerrige og spændende.
        </p>
      </div>
      <div class="order-2 md:order-1 md:justify-self-start">
        <Image
          src={smag}
          alt="Billede af en person der scooper is."
          class="h-[300px] w-[300px] md:h-[500px] md:w-[500px] rounded-[300px] m-auto md:m-0"
          loading="lazy"
        />
      </div>
    </section>
    <section class="bg-blaa-200 p-M md:grid grid-cols-2 md:px-L sticky top-0">
      <div class="text-center md:text-left md:self-end">
        <h2 class="h2_mobil md:h2 text-gron-800 pb-XS">Oplevelse</h2>
        <p class="pstor_mobil md:p text-gron-800 pb-S">
          ISTID er ikke kun is – det er en oplevelse.Høj personlig service, en
          menu med innovative smage og kombinationer, ærlighed om ingredienser
          og opskrifter – og oplevelsen af at se isen blive frosset med flydende
          nitrogen. Alt dette er med til at gøre ISTID til en helt unik
          oplevelse for hver eneste kunde.
        </p>
      </div>
      <div class="md:justify-self-end">
        <Image
          src={oplevelse}
          alt="Billede af en person der scooper is."
          class="h-[300px] w-[300px] md:h-[500px] md:w-[500px] rounded-[300px] m-auto"
          loading="lazy"
        />
      </div>
    </section>
    <section class="md:grid grid-cols-2">
      <div class="p-M md:px-L md:pt-L">
        <h2 class="h2_mobil md:h2 text-gul-800 pb-XS">Sæsonens is</h2>
        <p class="pstor_mobil md:p pb-XS">
          Hver sæson bringer nye smagsoplevelser – altid økologiske, altid
          friskfrosne med flydende nitrogen, og altid med fokus på kvalitet og
          nysgerrighed.
        </p>
        <p class="pstor_mobil md:p pb-XS">
          Kom forbi vores butik og se hvad sæsonen bringer af gode varianter.
        </p>
        <div class="md:pt-XS">
          <a href="is"><Button_S_Gul>Se vores smage her</Button_S_Gul></a>
        </div>
      </div>
      <div>
        <Image
          src={saesonis}
          alt="Billede af en person der scooper is."
          class="h-[550px] w-[600px] md:w-full md:h-[600px] object-cover"
          loading="lazy"
        />
      </div>
    </section>
    <section class="bg-rod-50 p-M md:py-XL">
      <div class="grid grid-cols-1 md:grid-cols-2 justify-items-center md:px-L">
        <div>
          <div>
            <h2 class="h2_mobil md:h2 text-rod-500 pb-XS">
              Nyhedsbrev tilmelding
            </h2>
            <p class="text-rod-900 pstor_mobil md:pstor pb-XS md:w-[800px]">
              Tilfmeld dig vores nyhedsbrev og vær den første til at høre om
              sæsonens is, nye smagsvarianter og åbningstider
            </p>
          </div>
          <div class="md:pt-XS">
            <form class="flex gap-S">
              <input
                type="email"
                placeholder="Din e-mail"
                class="border border-rod-500 rounded-medium bg-transparent p-XXS text-rod-600 placeholder-rod-600 uppercase bg-none w-[250px] md:w-[500px]"
                required
              />
              <a href="nyhed">
                <button
                  type="button"
                  class="border border-rod-500 text-rod-600 p-XXS rounded-medium"
                >
                  TILMELD NU
                </button></a
              >
            </form>
          </div>
        </div>

        <div class="grid justify-center pt-M md:pt-XXXS">
          <svg
            width="348"
            height="300"
            viewBox="0 0 448 532"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M17.8141 266.53C29.2365 336.247 41.1449 408.399 52.5916 478.092C58.0597 485.731 67.0761 496.358 80.8802 505.299C94.3926 514.047 107.711 518.047 131.455 522.312C155.879 526.698 177.897 530.626 211.192 530.819C254.111 531.036 283.615 524.843 315.792 518.071C346.511 511.613 364.957 505.323 379.223 489.177C385.785 481.755 389.673 474.284 391.958 468.934C392.225 462.452 392.565 455.897 392.954 449.318C397.037 383.312 407.852 321.74 422.798 264.964"
              stroke="#DD3032"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M20.0985 217.972C16.8662 219.562 12.2487 222.237 7.70403 226.695C4.56896 229.756 3.13508 232.214 1.91994 235.877C-1.50677 246.239 8.53033 258.554 10.3044 260.385C18.689 269.157 28.9205 272.531 48.8732 276.628C77.1861 282.435 99.885 284.484 109.63 285.351C133.982 287.496 146.158 288.556 162.003 289.328C227.402 292.46 280.99 288.677 301.915 286.942C354.555 282.604 371.057 281.929 391.058 275.832C410.938 269.784 426.589 262.361 437.039 256.794C438.522 254.867 440.709 251.445 441.584 246.721C442.799 240.046 440.661 234.768 439.81 232.72C438.668 230.021 438.06 229.033 437.015 227.708"
              stroke="#DD3032"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M24.4001 224.719C22.8934 224.863 19.9527 227.707 18.2758 232.358C15.9184 238.841 22.9663 245.516 24.4001 246.528C32.1771 251.902 39.6867 253.107 46.3943 254.239C85.8865 260.939 64.0139 259.228 83.8937 261.18C144.092 267.084 173.669 267.976 173.669 267.976C192.066 268.53 222.566 269.373 263.808 267.976C310.859 266.385 336.911 265.349 371.616 257.975C393.197 253.372 410.744 247.877 422.822 243.684C423.138 243.516 429.457 240.527 429.335 240.07"
              stroke="#DD3032"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M231.291 458.547C278.08 458.547 316.011 420.936 316.011 374.54C316.011 328.144 278.08 290.532 231.291 290.532C184.501 290.532 146.571 328.144 146.571 374.54C146.571 420.936 184.501 458.547 231.291 458.547Z"
              stroke="#DD3032"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M231.291 458.547C268.912 458.547 300.797 434.208 311.855 400.566C290.736 369.864 269.641 339.187 248.522 308.485C237.342 328.632 225.045 350.537 213.866 370.684"
              stroke="#DD3032"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M243.394 420.978C219.553 380.371 214.352 371.551 190.511 330.945C178.043 356.08 165.6 381.215 153.133 406.326"
              stroke="#DD3032"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M231.291 458.547C256.931 458.547 279.872 447.245 295.402 429.412C285.778 420.857 277.467 413.049 259.823 395.312C247.282 416.23 234.742 437.148 222.202 458.041C225.191 458.354 228.204 458.523 231.267 458.523L231.291 458.547Z"
              stroke="#DD3032"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M182.369 473.513L182.321 474.549V510.335L182.661 514.191H175.832L176.172 510.335V474.549L176.221 473.513L175.88 469.705H182.709L182.369 473.513Z"
              fill="#DD3032"></path>
            <path
              d="M201.666 475.633V475.802C201.568 480.597 203.415 485.248 204.971 489.682C206.672 494.358 208.495 499.37 208.495 504.84C208.495 507.371 208.082 511.227 206.186 514.167H192.965C193.816 511.227 194.18 509.901 194.472 507.371L202.054 508.07C202.298 507.323 202.395 506.455 202.395 505.588C202.395 498.165 198.531 491.538 196.562 484.67C195.857 482.308 195.396 479.874 195.396 477.416C195.396 474.958 196.197 472.404 197.801 469.753H210.463C209.37 472.813 208.957 474.139 208.495 476.717L201.617 475.633H201.666Z"
              fill="#DD3032"></path>
            <path
              d="M237.683 475.754L230.756 475.802V510.383L231.048 514.191H224.219L224.559 510.335V475.754H217.633L217.219 469.705H238.071L237.658 475.754H237.683Z"
              fill="#DD3032"></path>
            <path
              d="M252.848 473.513L252.799 474.549V510.335L253.164 514.191H246.334L246.699 510.335V474.549L246.748 473.513L246.383 469.705H253.212L252.872 473.513H252.848Z"
              fill="#DD3032"></path>
            <path
              d="M280.14 514.191H265.461V473.898L270.03 469.753H279.119C283.834 473.488 286.75 476.958 286.75 485.827C286.75 492.96 286.045 500.358 285.243 507.901C283.323 509.684 281.525 511.709 280.115 514.191H280.14ZM271.585 475.537C271.731 480.67 271.731 489.2 271.731 489.2L271.682 507.997H278.925C280.14 501.129 280.529 494.623 280.529 487.996C280.529 483.104 280.48 475.657 273.797 475.609L271.585 475.561V475.537Z"
              fill="#DD3032"></path>
            <path
              d="M43.7452 253.806C41.1934 251.156 35.701 243.781 31.9097 238.432C29.042 234.383 16.2343 215.658 12.5646 186.861C10.9606 174.209 11.7383 164.69 12.5646 155.581C13.6096 143.941 15.9913 117.24 26.7089 96.3223C49.4564 51.9086 106.155 40.4859 112.693 39.2568C180.935 26.4846 230.829 73.4286 234.645 77.1157C265.874 107.504 272.363 143.652 276.494 166.545C280.213 187.294 285.584 219.683 268.183 250.505C263.711 258.433 258.802 264.362 255.132 268.29"
              stroke="#DD3032"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M228.01 70.3678C232.7 67.4519 239.238 63.7407 247.379 60.1741C254.184 57.1859 277.564 47.4742 305.123 46.8958C356.743 45.7873 394.242 77.2359 398.908 81.2604C407.852 88.9719 443.042 120.348 446.493 171.967C448.462 201.609 439.105 224.767 433.564 236.094C430.696 238.745 426.613 243.612 420.003 244.649C418.958 244.817 416.746 246.022 415.774 246.07"
              stroke="#DD3032"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M126.958 37.039C134.784 29.5203 159.33 7.83156 198.263 2.74676C209.807 1.22855 247.647 -3.97674 280.286 19.9049C292.729 29.0142 300.53 39.4971 305.123 46.8953"
              stroke="#DD3032"
              stroke-width="2"
              stroke-miterlimit="10"></path>
          </svg>
        </div>
      </div>
    </section>
  </article>

  <style>
    .group:hover .svg-animate {
      animation: tada 1s;
    }
  </style>

  <script>
    import { inView, animate, scroll } from "motion";

    // <-- inview nitrogen 1 -->
    const nitrogen1zoomIn = document.querySelector("#nitrogen1");

    inView(nitrogen1zoomIn, () => {
      nitrogen1zoomIn.classList.add("animate__animated", "animate__zoomIn");
    });

    // <-- inview nitrogen 2 -->
    const nitrogen2zoomIn = document.querySelector("#nitrogen2");

    inView(nitrogen2zoomIn, () => {
      nitrogen2zoomIn.classList.add("animate__animated", "animate__zoomIn");
    });

    // <-- inview bil -->
    const bilFadein = document.querySelector("#bil");

    inView(bilFadein, () => {
      bilFadein.classList.add(
        "animate__animated",
        "animate__fadeInRight",
        "animate__delay-0.75s"
      );
    });

    // <-- inview isboks -->
    const isbokspulse = document.querySelector("#isboks");

    inView(isbokspulse, () => {
      isbokspulse.classList.add(
        "animate__animated",
        "animate__pulse",
        "animate__infinite"
      );
    });

    // <-- inview hvem er istid -->
    const hvemeristidFadeinUpBig = document.querySelector("#hvemeristid");

    inView(hvemeristidFadeinUpBig, () => {
      hvemeristidFadeinUpBig.classList.add(
        "animate__animated",
        "animate__fadeInUpBig",
        "animate__delay-0.75s"
      );
    });
  </script>
</MainLayout>
