---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Button_S_Gul from "../components/Button_S_Gul.astro";
import Button_S_Rod from "../components/Button_S_Rod.astro";
import { Image } from "astro:assets";
import scooper from "../assets/images/scooper.webp";
import hojkvalitet from "../assets/images/hojkvalitet.webp";
import oplevelse from "../assets/images/oplevelse.webp";
import saesonis from "../assets/images/saesonis.webp";
import ishænder from "../assets/images/ishænder.webp";
import "animate.css";
import istidbutik from "/public/istidbutik.webp";
import brandbil from "../assets/images/brandbil.webp";
import smag from "../assets/images/smag.png";
---

<MainLayout
  title="FORSIDE"
  page="index"
  title="Istid"
  description="Istid er en virksomhed der sælger is med fokus på bæredygtighed og transparents."
  ogtitle="Køb lækker is"
  ogdescription="Køb og bidrag til den bæredygtige isproduktion "
>
  <article class="">
    <section class="bg-blaa-50 relative pb-L overflow-hidden">
      <div class="p-M md:px-L md:ml-M pt-L">
        <h3 class="h2_mobil md:h2 text-rod-500 pb-XS">Velkommen til istid</h3>
        <h1 class="h1 md:display text-blaa-600 md:pb-XXS">
          Is på en helt <br /> ny måde
        </h1>
        <p class="pstor text-blaa-600 pb-S">
          Håndlavet økologisk nitrogen is <br /> til hverdag og events
        </p>
        <div class="mb-M">
          <a href="event#booking"><Button>Book os nu</Button></a>
        </div>
      </div>

      <!-- Grafik og billeder-wrapper -->
      <div class="relative w-full h-[100px]">
        <svg
          width="332"
          height="319"
          class="absolute bottom-[-123px] md:bottom-[-129px] right-[0] z-10 md:w-[532px] md:h-[519px]"
          viewBox="0 0 232 219"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M326 153.662C326 197.556 306.77 213.523 275.745 218.71C275.745 218.71 207.553 219 164.092 219C98.854 219 15.4268 219 15.4268 219C5.53131 199.172 0 177.026 0 153.662C0 68.7967 72.9776 0 163 0C253.022 0 326 68.7967 326 153.662Z"
            fill="#DD3032"></path>
        </svg>

        <!-- Billeder -->
        <Image
          src={ishænder}
          alt="Billede af hand der holder is"
          class="absolute w-[400px] h-[350px] md:w-[800px] md:h-[750px] bottom-[-120px] right-[2px] md:right-[-8%] z-20"
          loading="lazy"
        />
      </div>
    </section>

    <section class="text-center p-L md:py-XL md:px-XXL relative group">
      <h2 class="h2_mobil md:h2 text-rod-500">Økologisk nitrogen is</h2>
      <p class="pstor_mobil md:p text-blaa-900">
        Økologisk nitrogen is fra hjertet af Nørrebro - friskfrosset på stedet
        for en cremet, intens smagsoplevelse. <br /> Vi laver også catering i
        hele Danmark!
      </p>
      <div
        class="absolute z-[-1] top-[10%] left-[15%] group-hover:animate__animated group-hover:animate__tada"
        style="rotate: -30deg; "
      >
        <svg
          width="117"
          height="139"
          viewBox="0 0 63 75"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="svg-animate"
        >
          <g clip-path="url(#clip0_668_379)">
            <path
              d="M2.8324 37.2784C4.41317 46.9759 6.06121 57.012 7.64535 66.7061C8.40211 67.7687 9.64991 69.247 11.5603 70.4906C13.4303 71.7074 15.2734 72.2638 18.5594 72.8572C21.9396 73.4672 24.9868 74.0136 29.5946 74.0404C35.5343 74.0706 39.6174 73.2091 44.0704 72.2672C48.3217 71.3688 50.8745 70.494 52.8488 68.2481C53.7569 67.2156 54.295 66.1765 54.6112 65.4324C54.6482 64.5306 54.6953 63.6189 54.7491 62.7038C55.3141 53.5225 56.8108 44.958 58.8793 37.0605"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M3.14851 30.5244C2.70119 30.7456 2.06215 31.1177 1.4332 31.7379C0.99933 32.1636 0.800892 32.5055 0.632725 33.015C0.158492 34.4564 1.54756 36.1693 1.79308 36.424C2.95344 37.6442 4.36941 38.1135 7.13072 38.6833C11.049 39.4912 14.1904 39.7761 15.5391 39.8968C18.9092 40.1951 20.5942 40.3426 22.7871 40.4499C31.8379 40.8856 39.2541 40.3593 42.1499 40.118C49.4349 39.5146 51.7187 39.4208 54.4867 38.5727C57.2379 37.7313 59.4039 36.6989 60.8502 35.9246C61.0553 35.6564 61.358 35.1804 61.4791 34.5234C61.6473 33.5949 61.3513 32.8608 61.2336 32.5759C61.0755 32.2004 60.9914 32.063 60.8468 31.8786"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M3.74384 31.4629C3.53531 31.483 3.12835 31.8785 2.89627 32.5255C2.57003 33.4272 3.5454 34.3557 3.74384 34.4965C4.82011 35.244 5.85939 35.4116 6.78767 35.5692C12.2531 36.501 9.2261 36.263 11.9773 36.5346C20.3083 37.3558 24.4015 37.4798 24.4015 37.4798C26.9476 37.5569 31.1686 37.6743 36.8762 37.4798C43.3877 37.2586 46.9932 37.1145 51.796 36.0887C54.7827 35.4485 57.211 34.6842 58.8826 34.101C58.9263 34.0775 59.8008 33.6618 59.784 33.5982"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M32.3761 63.9877C38.8515 63.9877 44.1008 58.7561 44.1008 52.3025C44.1008 45.8489 38.8515 40.6172 32.3761 40.6172C25.9008 40.6172 20.6515 45.8489 20.6515 52.3025C20.6515 58.7561 25.9008 63.9877 32.3761 63.9877Z"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M32.3761 63.9875C37.5826 63.9875 41.9953 60.6019 43.5256 55.9225C40.6029 51.6519 37.6835 47.3848 34.7607 43.1143C33.2136 45.9166 31.5117 48.9636 29.9646 51.7659"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M34.0511 58.7616C30.7516 53.1133 30.0319 51.8865 26.7324 46.2383C25.007 49.7345 23.285 53.2307 21.5596 56.7235"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M32.3762 63.9882C35.9245 63.9882 39.0995 62.4161 41.2487 59.9355C39.9168 58.7456 38.7665 57.6595 36.3248 55.1924C34.5893 58.102 32.8538 61.0116 31.1183 63.9178C31.532 63.9614 31.949 63.9848 32.3728 63.9848L32.3762 63.9882Z"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M25.6057 66.0697L25.5989 66.2138V71.1916L25.646 71.7279H24.7009L24.748 71.1916V66.2138L24.7547 66.0697L24.7077 65.54H25.6528L25.6057 66.0697Z"
              fill="#FDE179"></path>
            <path
              d="M28.2762 66.3648V66.3882C28.2628 67.0553 28.5184 67.7022 28.7336 68.319C28.9691 68.9693 29.2213 69.6666 29.2213 70.4275C29.2213 70.7794 29.1641 71.3158 28.9018 71.7247H27.0721C27.1899 71.3158 27.2403 71.1314 27.2807 70.7794L28.33 70.8766C28.3637 70.7727 28.3771 70.6521 28.3771 70.5314C28.3771 69.499 27.8423 68.5771 27.5699 67.6218C27.4724 67.2933 27.4085 66.9547 27.4085 66.6128C27.4085 66.2709 27.5195 65.9156 27.7414 65.5469H29.4938C29.3424 65.9726 29.2852 66.157 29.2213 66.5156L28.2695 66.3648H28.2762Z"
              fill="#FDE179"></path>
            <path
              d="M33.2607 66.3814L32.3021 66.3881V71.1983L32.3425 71.7279H31.3974L31.4444 71.1916V66.3814H30.4859L30.4287 65.54H33.3145L33.2573 66.3814H33.2607Z"
              fill="#FDE179"></path>
            <path
              d="M35.3594 66.0697L35.3527 66.2138V71.1916L35.4031 71.7279H34.458L34.5085 71.1916V66.2138L34.5152 66.0697L34.4647 65.54H35.4098L35.3627 66.0697H35.3594Z"
              fill="#FDE179"></path>
            <path
              d="M39.1364 71.7281H37.105V66.1234L37.7373 65.5469H38.9952C39.6477 66.0664 40.0513 66.5491 40.0513 67.7827C40.0513 68.7749 39.9537 69.804 39.8427 70.8532C39.577 71.1012 39.3282 71.3828 39.1331 71.7281H39.1364ZM37.9525 66.3514C37.9727 67.0654 37.9727 68.252 37.9727 68.252L37.966 70.8666H38.9683C39.1364 69.9113 39.1903 69.0062 39.1903 68.0844C39.1903 67.4039 39.1835 66.3681 38.2586 66.3614L37.9525 66.3547V66.3514Z"
              fill="#FDE179"></path>
            <path
              d="M6.42107 35.5092C6.06792 35.1405 5.3078 34.1148 4.78312 33.3706C4.38624 32.8075 2.61376 30.2029 2.10589 26.1972C1.88391 24.4374 1.99154 23.1133 2.10589 21.8462C2.25051 20.2272 2.58012 16.5131 4.06336 13.6035C7.21146 7.42568 15.0582 5.83681 15.9629 5.66585C25.4072 3.88926 32.3121 10.4191 32.8402 10.9319C37.1621 15.1589 38.0601 20.187 38.6319 23.3714C39.1465 26.2575 39.8898 30.7627 37.4816 35.05C36.8628 36.1528 36.1834 36.9774 35.6755 37.5238"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M31.922 9.99349C32.5711 9.58789 33.4759 9.07168 34.6026 8.57557C35.5443 8.15992 38.7799 6.80904 42.5939 6.72859C49.7377 6.57439 54.9273 10.9488 55.5731 11.5086C56.8108 12.5813 61.6809 16.9457 62.1585 24.1258C62.4309 28.2488 61.1361 31.4701 60.3692 33.0456C59.9723 33.4143 59.4073 34.0914 58.4925 34.2356C58.3478 34.259 58.0418 34.4266 57.9072 34.4333"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M17.9373 5.3569C19.0203 4.31106 22.4172 1.29421 27.8053 0.586923C29.4029 0.375743 34.6397 -0.348301 39.1566 2.97359C40.8787 4.24066 41.9583 5.69881 42.594 6.72789"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
          </g>
          <defs>
            <clipPath id="clip0_668_379">
              <rect
                width="62"
                height="74"
                fill="white"
                transform="translate(0.367065 0.205078)"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
      <div
        class="absolute z-[-1] top-[10%] right-[15%] group-hover:animate__animated group-hover:animate__tada"
        style="rotate: -340deg;"
      >
        <svg
          width="117"
          height="139"
          viewBox="0 0 63 75"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="svg-animate"
        >
          <g clip-path="url(#clip0_668_379)">
            <path
              d="M2.8324 37.2784C4.41317 46.9759 6.06121 57.012 7.64535 66.7061C8.40211 67.7687 9.64991 69.247 11.5603 70.4906C13.4303 71.7074 15.2734 72.2638 18.5594 72.8572C21.9396 73.4672 24.9868 74.0136 29.5946 74.0404C35.5343 74.0706 39.6174 73.2091 44.0704 72.2672C48.3217 71.3688 50.8745 70.494 52.8488 68.2481C53.7569 67.2156 54.295 66.1765 54.6112 65.4324C54.6482 64.5306 54.6953 63.6189 54.7491 62.7038C55.3141 53.5225 56.8108 44.958 58.8793 37.0605"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M3.14851 30.5244C2.70119 30.7456 2.06215 31.1177 1.4332 31.7379C0.99933 32.1636 0.800892 32.5055 0.632725 33.015C0.158492 34.4564 1.54756 36.1693 1.79308 36.424C2.95344 37.6442 4.36941 38.1135 7.13072 38.6833C11.049 39.4912 14.1904 39.7761 15.5391 39.8968C18.9092 40.1951 20.5942 40.3426 22.7871 40.4499C31.8379 40.8856 39.2541 40.3593 42.1499 40.118C49.4349 39.5146 51.7187 39.4208 54.4867 38.5727C57.2379 37.7313 59.4039 36.6989 60.8502 35.9246C61.0553 35.6564 61.358 35.1804 61.4791 34.5234C61.6473 33.5949 61.3513 32.8608 61.2336 32.5759C61.0755 32.2004 60.9914 32.063 60.8468 31.8786"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M3.74384 31.4629C3.53531 31.483 3.12835 31.8785 2.89627 32.5255C2.57003 33.4272 3.5454 34.3557 3.74384 34.4965C4.82011 35.244 5.85939 35.4116 6.78767 35.5692C12.2531 36.501 9.2261 36.263 11.9773 36.5346C20.3083 37.3558 24.4015 37.4798 24.4015 37.4798C26.9476 37.5569 31.1686 37.6743 36.8762 37.4798C43.3877 37.2586 46.9932 37.1145 51.796 36.0887C54.7827 35.4485 57.211 34.6842 58.8826 34.101C58.9263 34.0775 59.8008 33.6618 59.784 33.5982"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M32.3761 63.9877C38.8515 63.9877 44.1008 58.7561 44.1008 52.3025C44.1008 45.8489 38.8515 40.6172 32.3761 40.6172C25.9008 40.6172 20.6515 45.8489 20.6515 52.3025C20.6515 58.7561 25.9008 63.9877 32.3761 63.9877Z"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M32.3761 63.9875C37.5826 63.9875 41.9953 60.6019 43.5256 55.9225C40.6029 51.6519 37.6835 47.3848 34.7607 43.1143C33.2136 45.9166 31.5117 48.9636 29.9646 51.7659"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M34.0511 58.7616C30.7516 53.1133 30.0319 51.8865 26.7324 46.2383C25.007 49.7345 23.285 53.2307 21.5596 56.7235"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M32.3762 63.9882C35.9245 63.9882 39.0995 62.4161 41.2487 59.9355C39.9168 58.7456 38.7665 57.6595 36.3248 55.1924C34.5893 58.102 32.8538 61.0116 31.1183 63.9178C31.532 63.9614 31.949 63.9848 32.3728 63.9848L32.3762 63.9882Z"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M25.6057 66.0697L25.5989 66.2138V71.1916L25.646 71.7279H24.7009L24.748 71.1916V66.2138L24.7547 66.0697L24.7077 65.54H25.6528L25.6057 66.0697Z"
              fill="#FDE179"></path>
            <path
              d="M28.2762 66.3648V66.3882C28.2628 67.0553 28.5184 67.7022 28.7336 68.319C28.9691 68.9693 29.2213 69.6666 29.2213 70.4275C29.2213 70.7794 29.1641 71.3158 28.9018 71.7247H27.0721C27.1899 71.3158 27.2403 71.1314 27.2807 70.7794L28.33 70.8766C28.3637 70.7727 28.3771 70.6521 28.3771 70.5314C28.3771 69.499 27.8423 68.5771 27.5699 67.6218C27.4724 67.2933 27.4085 66.9547 27.4085 66.6128C27.4085 66.2709 27.5195 65.9156 27.7414 65.5469H29.4938C29.3424 65.9726 29.2852 66.157 29.2213 66.5156L28.2695 66.3648H28.2762Z"
              fill="#FDE179"></path>
            <path
              d="M33.2607 66.3814L32.3021 66.3881V71.1983L32.3425 71.7279H31.3974L31.4444 71.1916V66.3814H30.4859L30.4287 65.54H33.3145L33.2573 66.3814H33.2607Z"
              fill="#FDE179"></path>
            <path
              d="M35.3594 66.0697L35.3527 66.2138V71.1916L35.4031 71.7279H34.458L34.5085 71.1916V66.2138L34.5152 66.0697L34.4647 65.54H35.4098L35.3627 66.0697H35.3594Z"
              fill="#FDE179"></path>
            <path
              d="M39.1364 71.7281H37.105V66.1234L37.7373 65.5469H38.9952C39.6477 66.0664 40.0513 66.5491 40.0513 67.7827C40.0513 68.7749 39.9537 69.804 39.8427 70.8532C39.577 71.1012 39.3282 71.3828 39.1331 71.7281H39.1364ZM37.9525 66.3514C37.9727 67.0654 37.9727 68.252 37.9727 68.252L37.966 70.8666H38.9683C39.1364 69.9113 39.1903 69.0062 39.1903 68.0844C39.1903 67.4039 39.1835 66.3681 38.2586 66.3614L37.9525 66.3547V66.3514Z"
              fill="#FDE179"></path>
            <path
              d="M6.42107 35.5092C6.06792 35.1405 5.3078 34.1148 4.78312 33.3706C4.38624 32.8075 2.61376 30.2029 2.10589 26.1972C1.88391 24.4374 1.99154 23.1133 2.10589 21.8462C2.25051 20.2272 2.58012 16.5131 4.06336 13.6035C7.21146 7.42568 15.0582 5.83681 15.9629 5.66585C25.4072 3.88926 32.3121 10.4191 32.8402 10.9319C37.1621 15.1589 38.0601 20.187 38.6319 23.3714C39.1465 26.2575 39.8898 30.7627 37.4816 35.05C36.8628 36.1528 36.1834 36.9774 35.6755 37.5238"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M31.922 9.99349C32.5711 9.58789 33.4759 9.07168 34.6026 8.57557C35.5443 8.15992 38.7799 6.80904 42.5939 6.72859C49.7377 6.57439 54.9273 10.9488 55.5731 11.5086C56.8108 12.5813 61.6809 16.9457 62.1585 24.1258C62.4309 28.2488 61.1361 31.4701 60.3692 33.0456C59.9723 33.4143 59.4073 34.0914 58.4925 34.2356C58.3478 34.259 58.0418 34.4266 57.9072 34.4333"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M17.9373 5.3569C19.0203 4.31106 22.4172 1.29421 27.8053 0.586923C29.4029 0.375743 34.6397 -0.348301 39.1566 2.97359C40.8787 4.24066 41.9583 5.69881 42.594 6.72789"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
          </g>
          <defs>
            <clipPath id="clip0_668_379">
              <rect
                width="62"
                height="74"
                fill="white"
                transform="translate(0.367065 0.205078)"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
      <div
        class="absolute z-[-1] top-[60%] left-[5%] group-hover:animate__animated group-hover:animate__tada"
        style="rotate: -340deg;"
      >
        <svg
          width="117"
          height="139"
          viewBox="0 0 63 75"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="svg-animate"
        >
          <g clip-path="url(#clip0_668_379)">
            <path
              d="M2.8324 37.2784C4.41317 46.9759 6.06121 57.012 7.64535 66.7061C8.40211 67.7687 9.64991 69.247 11.5603 70.4906C13.4303 71.7074 15.2734 72.2638 18.5594 72.8572C21.9396 73.4672 24.9868 74.0136 29.5946 74.0404C35.5343 74.0706 39.6174 73.2091 44.0704 72.2672C48.3217 71.3688 50.8745 70.494 52.8488 68.2481C53.7569 67.2156 54.295 66.1765 54.6112 65.4324C54.6482 64.5306 54.6953 63.6189 54.7491 62.7038C55.3141 53.5225 56.8108 44.958 58.8793 37.0605"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M3.14851 30.5244C2.70119 30.7456 2.06215 31.1177 1.4332 31.7379C0.99933 32.1636 0.800892 32.5055 0.632725 33.015C0.158492 34.4564 1.54756 36.1693 1.79308 36.424C2.95344 37.6442 4.36941 38.1135 7.13072 38.6833C11.049 39.4912 14.1904 39.7761 15.5391 39.8968C18.9092 40.1951 20.5942 40.3426 22.7871 40.4499C31.8379 40.8856 39.2541 40.3593 42.1499 40.118C49.4349 39.5146 51.7187 39.4208 54.4867 38.5727C57.2379 37.7313 59.4039 36.6989 60.8502 35.9246C61.0553 35.6564 61.358 35.1804 61.4791 34.5234C61.6473 33.5949 61.3513 32.8608 61.2336 32.5759C61.0755 32.2004 60.9914 32.063 60.8468 31.8786"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M3.74384 31.4629C3.53531 31.483 3.12835 31.8785 2.89627 32.5255C2.57003 33.4272 3.5454 34.3557 3.74384 34.4965C4.82011 35.244 5.85939 35.4116 6.78767 35.5692C12.2531 36.501 9.2261 36.263 11.9773 36.5346C20.3083 37.3558 24.4015 37.4798 24.4015 37.4798C26.9476 37.5569 31.1686 37.6743 36.8762 37.4798C43.3877 37.2586 46.9932 37.1145 51.796 36.0887C54.7827 35.4485 57.211 34.6842 58.8826 34.101C58.9263 34.0775 59.8008 33.6618 59.784 33.5982"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M32.3761 63.9877C38.8515 63.9877 44.1008 58.7561 44.1008 52.3025C44.1008 45.8489 38.8515 40.6172 32.3761 40.6172C25.9008 40.6172 20.6515 45.8489 20.6515 52.3025C20.6515 58.7561 25.9008 63.9877 32.3761 63.9877Z"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M32.3761 63.9875C37.5826 63.9875 41.9953 60.6019 43.5256 55.9225C40.6029 51.6519 37.6835 47.3848 34.7607 43.1143C33.2136 45.9166 31.5117 48.9636 29.9646 51.7659"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M34.0511 58.7616C30.7516 53.1133 30.0319 51.8865 26.7324 46.2383C25.007 49.7345 23.285 53.2307 21.5596 56.7235"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M32.3762 63.9882C35.9245 63.9882 39.0995 62.4161 41.2487 59.9355C39.9168 58.7456 38.7665 57.6595 36.3248 55.1924C34.5893 58.102 32.8538 61.0116 31.1183 63.9178C31.532 63.9614 31.949 63.9848 32.3728 63.9848L32.3762 63.9882Z"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M25.6057 66.0697L25.5989 66.2138V71.1916L25.646 71.7279H24.7009L24.748 71.1916V66.2138L24.7547 66.0697L24.7077 65.54H25.6528L25.6057 66.0697Z"
              fill="#FDE179"></path>
            <path
              d="M28.2762 66.3648V66.3882C28.2628 67.0553 28.5184 67.7022 28.7336 68.319C28.9691 68.9693 29.2213 69.6666 29.2213 70.4275C29.2213 70.7794 29.1641 71.3158 28.9018 71.7247H27.0721C27.1899 71.3158 27.2403 71.1314 27.2807 70.7794L28.33 70.8766C28.3637 70.7727 28.3771 70.6521 28.3771 70.5314C28.3771 69.499 27.8423 68.5771 27.5699 67.6218C27.4724 67.2933 27.4085 66.9547 27.4085 66.6128C27.4085 66.2709 27.5195 65.9156 27.7414 65.5469H29.4938C29.3424 65.9726 29.2852 66.157 29.2213 66.5156L28.2695 66.3648H28.2762Z"
              fill="#FDE179"></path>
            <path
              d="M33.2607 66.3814L32.3021 66.3881V71.1983L32.3425 71.7279H31.3974L31.4444 71.1916V66.3814H30.4859L30.4287 65.54H33.3145L33.2573 66.3814H33.2607Z"
              fill="#FDE179"></path>
            <path
              d="M35.3594 66.0697L35.3527 66.2138V71.1916L35.4031 71.7279H34.458L34.5085 71.1916V66.2138L34.5152 66.0697L34.4647 65.54H35.4098L35.3627 66.0697H35.3594Z"
              fill="#FDE179"></path>
            <path
              d="M39.1364 71.7281H37.105V66.1234L37.7373 65.5469H38.9952C39.6477 66.0664 40.0513 66.5491 40.0513 67.7827C40.0513 68.7749 39.9537 69.804 39.8427 70.8532C39.577 71.1012 39.3282 71.3828 39.1331 71.7281H39.1364ZM37.9525 66.3514C37.9727 67.0654 37.9727 68.252 37.9727 68.252L37.966 70.8666H38.9683C39.1364 69.9113 39.1903 69.0062 39.1903 68.0844C39.1903 67.4039 39.1835 66.3681 38.2586 66.3614L37.9525 66.3547V66.3514Z"
              fill="#FDE179"></path>
            <path
              d="M6.42107 35.5092C6.06792 35.1405 5.3078 34.1148 4.78312 33.3706C4.38624 32.8075 2.61376 30.2029 2.10589 26.1972C1.88391 24.4374 1.99154 23.1133 2.10589 21.8462C2.25051 20.2272 2.58012 16.5131 4.06336 13.6035C7.21146 7.42568 15.0582 5.83681 15.9629 5.66585C25.4072 3.88926 32.3121 10.4191 32.8402 10.9319C37.1621 15.1589 38.0601 20.187 38.6319 23.3714C39.1465 26.2575 39.8898 30.7627 37.4816 35.05C36.8628 36.1528 36.1834 36.9774 35.6755 37.5238"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M31.922 9.99349C32.5711 9.58789 33.4759 9.07168 34.6026 8.57557C35.5443 8.15992 38.7799 6.80904 42.5939 6.72859C49.7377 6.57439 54.9273 10.9488 55.5731 11.5086C56.8108 12.5813 61.6809 16.9457 62.1585 24.1258C62.4309 28.2488 61.1361 31.4701 60.3692 33.0456C59.9723 33.4143 59.4073 34.0914 58.4925 34.2356C58.3478 34.259 58.0418 34.4266 57.9072 34.4333"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M17.9373 5.3569C19.0203 4.31106 22.4172 1.29421 27.8053 0.586923C29.4029 0.375743 34.6397 -0.348301 39.1566 2.97359C40.8787 4.24066 41.9583 5.69881 42.594 6.72789"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
          </g>
          <defs>
            <clipPath id="clip0_668_379">
              <rect
                width="62"
                height="74"
                fill="white"
                transform="translate(0.367065 0.205078)"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
      <div
        class="absolute z-[-1] top-[60%] right-[5%] group-hover:animate__animated group-hover:animate__tada"
        style="rotate: -20deg;"
      >
        <svg
          width="117"
          height="139"
          viewBox="0 0 63 75"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="svg-animate"
        >
          <g clip-path="url(#clip0_668_379)">
            <path
              d="M2.8324 37.2784C4.41317 46.9759 6.06121 57.012 7.64535 66.7061C8.40211 67.7687 9.64991 69.247 11.5603 70.4906C13.4303 71.7074 15.2734 72.2638 18.5594 72.8572C21.9396 73.4672 24.9868 74.0136 29.5946 74.0404C35.5343 74.0706 39.6174 73.2091 44.0704 72.2672C48.3217 71.3688 50.8745 70.494 52.8488 68.2481C53.7569 67.2156 54.295 66.1765 54.6112 65.4324C54.6482 64.5306 54.6953 63.6189 54.7491 62.7038C55.3141 53.5225 56.8108 44.958 58.8793 37.0605"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M3.14851 30.5244C2.70119 30.7456 2.06215 31.1177 1.4332 31.7379C0.99933 32.1636 0.800892 32.5055 0.632725 33.015C0.158492 34.4564 1.54756 36.1693 1.79308 36.424C2.95344 37.6442 4.36941 38.1135 7.13072 38.6833C11.049 39.4912 14.1904 39.7761 15.5391 39.8968C18.9092 40.1951 20.5942 40.3426 22.7871 40.4499C31.8379 40.8856 39.2541 40.3593 42.1499 40.118C49.4349 39.5146 51.7187 39.4208 54.4867 38.5727C57.2379 37.7313 59.4039 36.6989 60.8502 35.9246C61.0553 35.6564 61.358 35.1804 61.4791 34.5234C61.6473 33.5949 61.3513 32.8608 61.2336 32.5759C61.0755 32.2004 60.9914 32.063 60.8468 31.8786"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M3.74384 31.4629C3.53531 31.483 3.12835 31.8785 2.89627 32.5255C2.57003 33.4272 3.5454 34.3557 3.74384 34.4965C4.82011 35.244 5.85939 35.4116 6.78767 35.5692C12.2531 36.501 9.2261 36.263 11.9773 36.5346C20.3083 37.3558 24.4015 37.4798 24.4015 37.4798C26.9476 37.5569 31.1686 37.6743 36.8762 37.4798C43.3877 37.2586 46.9932 37.1145 51.796 36.0887C54.7827 35.4485 57.211 34.6842 58.8826 34.101C58.9263 34.0775 59.8008 33.6618 59.784 33.5982"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M32.3761 63.9877C38.8515 63.9877 44.1008 58.7561 44.1008 52.3025C44.1008 45.8489 38.8515 40.6172 32.3761 40.6172C25.9008 40.6172 20.6515 45.8489 20.6515 52.3025C20.6515 58.7561 25.9008 63.9877 32.3761 63.9877Z"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M32.3761 63.9875C37.5826 63.9875 41.9953 60.6019 43.5256 55.9225C40.6029 51.6519 37.6835 47.3848 34.7607 43.1143C33.2136 45.9166 31.5117 48.9636 29.9646 51.7659"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M34.0511 58.7616C30.7516 53.1133 30.0319 51.8865 26.7324 46.2383C25.007 49.7345 23.285 53.2307 21.5596 56.7235"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M32.3762 63.9882C35.9245 63.9882 39.0995 62.4161 41.2487 59.9355C39.9168 58.7456 38.7665 57.6595 36.3248 55.1924C34.5893 58.102 32.8538 61.0116 31.1183 63.9178C31.532 63.9614 31.949 63.9848 32.3728 63.9848L32.3762 63.9882Z"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M25.6057 66.0697L25.5989 66.2138V71.1916L25.646 71.7279H24.7009L24.748 71.1916V66.2138L24.7547 66.0697L24.7077 65.54H25.6528L25.6057 66.0697Z"
              fill="#FDE179"></path>
            <path
              d="M28.2762 66.3648V66.3882C28.2628 67.0553 28.5184 67.7022 28.7336 68.319C28.9691 68.9693 29.2213 69.6666 29.2213 70.4275C29.2213 70.7794 29.1641 71.3158 28.9018 71.7247H27.0721C27.1899 71.3158 27.2403 71.1314 27.2807 70.7794L28.33 70.8766C28.3637 70.7727 28.3771 70.6521 28.3771 70.5314C28.3771 69.499 27.8423 68.5771 27.5699 67.6218C27.4724 67.2933 27.4085 66.9547 27.4085 66.6128C27.4085 66.2709 27.5195 65.9156 27.7414 65.5469H29.4938C29.3424 65.9726 29.2852 66.157 29.2213 66.5156L28.2695 66.3648H28.2762Z"
              fill="#FDE179"></path>
            <path
              d="M33.2607 66.3814L32.3021 66.3881V71.1983L32.3425 71.7279H31.3974L31.4444 71.1916V66.3814H30.4859L30.4287 65.54H33.3145L33.2573 66.3814H33.2607Z"
              fill="#FDE179"></path>
            <path
              d="M35.3594 66.0697L35.3527 66.2138V71.1916L35.4031 71.7279H34.458L34.5085 71.1916V66.2138L34.5152 66.0697L34.4647 65.54H35.4098L35.3627 66.0697H35.3594Z"
              fill="#FDE179"></path>
            <path
              d="M39.1364 71.7281H37.105V66.1234L37.7373 65.5469H38.9952C39.6477 66.0664 40.0513 66.5491 40.0513 67.7827C40.0513 68.7749 39.9537 69.804 39.8427 70.8532C39.577 71.1012 39.3282 71.3828 39.1331 71.7281H39.1364ZM37.9525 66.3514C37.9727 67.0654 37.9727 68.252 37.9727 68.252L37.966 70.8666H38.9683C39.1364 69.9113 39.1903 69.0062 39.1903 68.0844C39.1903 67.4039 39.1835 66.3681 38.2586 66.3614L37.9525 66.3547V66.3514Z"
              fill="#FDE179"></path>
            <path
              d="M6.42107 35.5092C6.06792 35.1405 5.3078 34.1148 4.78312 33.3706C4.38624 32.8075 2.61376 30.2029 2.10589 26.1972C1.88391 24.4374 1.99154 23.1133 2.10589 21.8462C2.25051 20.2272 2.58012 16.5131 4.06336 13.6035C7.21146 7.42568 15.0582 5.83681 15.9629 5.66585C25.4072 3.88926 32.3121 10.4191 32.8402 10.9319C37.1621 15.1589 38.0601 20.187 38.6319 23.3714C39.1465 26.2575 39.8898 30.7627 37.4816 35.05C36.8628 36.1528 36.1834 36.9774 35.6755 37.5238"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M31.922 9.99349C32.5711 9.58789 33.4759 9.07168 34.6026 8.57557C35.5443 8.15992 38.7799 6.80904 42.5939 6.72859C49.7377 6.57439 54.9273 10.9488 55.5731 11.5086C56.8108 12.5813 61.6809 16.9457 62.1585 24.1258C62.4309 28.2488 61.1361 31.4701 60.3692 33.0456C59.9723 33.4143 59.4073 34.0914 58.4925 34.2356C58.3478 34.259 58.0418 34.4266 57.9072 34.4333"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
            <path
              d="M17.9373 5.3569C19.0203 4.31106 22.4172 1.29421 27.8053 0.586923C29.4029 0.375743 34.6397 -0.348301 39.1566 2.97359C40.8787 4.24066 41.9583 5.69881 42.594 6.72789"
              stroke="#FDE179"
              stroke-miterlimit="10"></path>
          </g>
          <defs>
            <clipPath id="clip0_668_379">
              <rect
                width="62"
                height="74"
                fill="white"
                transform="translate(0.367065 0.205078)"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
    </section>
    <section class="md:grid grid-cols-2 bg-gul-300">
      <div>
        <Image
          src={scooper}
          alt="Billede af en person der scooper is."
          class="h-[550px] w-[600px] md:w-full md:h-[600px] object-cover"
          loading="lazy"
        />
      </div>
      <div class="md:p-L p-M">
        <h2 class="h2_mobil md:h2 text-gron-800 pb-XS">
          NITROGEN IS, MERE END GOD SMAG
        </h2>
        <p class="pstor_mobil md:p text-gron-800 pb-XS" id="nitrogen1">
          Hos ISTID bruger vi flydende nitrogen til at fryse isen - det sker ved
          minus 196 grader og direkte foran dig!
        </p>
        <p class="pstor_mobil md:p text-gron-800" id="nitrogen2">
          Når isen lynfryses på denne måde, bevares smagene bedre, og strukturen
          bliver ekstra cremet.
        </p>
      </div>
    </section>
    <section class="bg-rod-100 md:grid md:grid-cols-2 py-M">
      <div class="grid content-center md:text-start md:p-L p-M">
        <h2 class="h2_mobil md:h2 text-blaa-700 pb-XS">EVENTS OG CATERING</h2>
        <p class="pstor_mobil md:p text-rod-600 pb-XS">
          Gør dit event til en uforglemmelig oplevelse <br /> Book vores
          nitrogen is til catering i dag
        </p>
        <div class="pt-XS">
          <a href="event"><Button>BOOK NU</Button></a>
        </div>
      </div>

      <div>
        <Image
          src={brandbil}
          alt="Billede af et isevent ved brandbilen."
          class="h-[250px] w-[250px] md:h-[550px] md:w-[575px] object-cover object-center content-center mx-auto"
          loading="lazy"
        />
      </div>
    </section>
    <section class="relative p-M md:p-L">
      <Image
        src={istidbutik}
        alt="Billede fra isbutik."
        class="w-full h-[350px] md:w-full md:h-[650px] object-cover mx-auto"
        loading="lazy"
      />

      <div
        class="absolute bottom-[-40px] right-[20px] bg-gul-400 rounded-[600px] w-60 h-60 flex items-center justify-center text-center px-[45px] py-[45px] md:px-[50px] md:py-[80px]"
        id="isboks"
      >
        <p class="text-rod-600 pstor_mobil md:pstor">
          <span class="font-bold">Is er noget</span><br />
          <span class="font-bold">vidunderligt</span>
           og det <br />
           fortjener en <br />fremtid, ikke kun <br />
           en fortid
        </p>
      </div>
    </section>
    <section class="p-M md:p-L">
      <h2 class="h2_mobil md:h2 text-blaa-700 pb-XS">
        fremtidens is - hvem er istid
      </h2>
      <div class="md:grid grid-cols-2 gap-M md:py-S" id="hvemeristid">
        <p class="md:p p_mobil text-blaa-900 pb-XS">
          Hos ISTID skaber vi fremtidens is - ikke bare med flydende nitrogen,
          men med nysgerrighed, kvalitet og omtanke. Is er noget magisk. Det
          vækker minder om barndom, frihed og varme somre, men for os handler
          det ikke om at kigge tilbage.
        </p>
        <p class="md:p p_mobil text-blaa-900">
          Vi tager følelsen med os og gentænker isen i en ny tid. Vi vælger
          økologi og bæredygtighed frem for nostalgi, innovation frem for
          tradition, og skaber en isoplevelse, der både overrasker og gør godt.
          For os er is ikke bare en dessert - det er en oplevelse i nuet, skabt
          til at deles.
        </p>
      </div>
    </section>
    <section class="h-[250vh] relative">
      <section
        class="bg-gron-400 md:grid grid-cols-2 p-M md:px-L sticky top-[1vh] md:h-[80vh]"
      >
        <div class="text-center md:text-left md:self-center">
          <h2 class="h2_mobil md:h2 text-gron-800 pb-XS">høj kvalitet</h2>
          <p class="pstor_mobil md:p text-gron-800 pb-S">
            Spørg bare, så fortæller vi dig det. Vi er stolte af at kunne
            fortælle vores kunder præcis, hvad der er i vores is. Vi ved det -
            for alt er lavet af os selv med de bedste økologiske råvarer og helt
            uden tilsætningsstoffer.
          </p>
        </div>
        <div class="md:justify-self-end">
          <Image
            src={hojkvalitet}
            alt="Billede af is."
            class="h-[300px] w-[300px] md:h-[500px] md:w-[500px] m-auto"
            loading="lazy"
          />
        </div>
      </section>
      <section
        class="bg-gul-400 p-M md:grid grid-cols-2 md:px-L sticky top-[1vh] md:h-[80vh]"
      >
        <div class="text-center md:text-left order-1 md:order-2 md:self-center">
          <h2 class="h2_mobil md:h2 text-gron-800 md:text-end pb-XS">
            Overraskende smage
          </h2>
          <p class="pstor_mobil md:p text-gron-800 pb-S md:text-end">
            Vi elsker at skabe nye smage, kombinationer og teksturer. Nogle
            bliver kasseret, mens andre er ren himmel - og det er dem, der ender
            på menuen. At udforske og udvikle smage er det, der holder os
            relevante, nysgerrige og spændende.
          </p>
        </div>
        <div class="order-2 md:order-1 md:justify-self-start">
          <Image
            src={smag}
            alt="Billede af is og ingredienser."
            class="h-[300px] w-[300px] md:h-[500px] md:w-[500px] m-auto md:m-0"
            loading="lazy"
          />
        </div>
      </section>
      <section
        class="bg-blaa-200 p-M md:grid grid-cols-2 md:px-L sticky top-[1vh] md:h-[80vh]"
      >
        <div class="text-center md:text-left md:self-center">
          <h2 class="h2_mobil md:h2 text-gron-800 pb-XS">Oplevelse</h2>
          <p class="pstor_mobil md:p text-gron-800 pb-S">
            ISTID er ikke kun is - det er en oplevelse. Høj personlig service,
            en menu med innovative smage og kombinationer, ærlighed om
            ingredienser og opskrifter - og oplevelsen af at se isen blive
            frosset med flydende nitrogen. Alt dette er med til at gøre ISTID
            til en helt unik oplevelse for hver eneste kunde.
          </p>
        </div>
        <div class="md:justify-self-end">
          <Image
            src={oplevelse}
            alt="Billede af en person der giver is."
            class="h-[300px] w-[300px] md:h-[500px] md:w-[500px] m-auto"
            loading="lazy"
          />
        </div>
      </section>
    </section>
    <section class="md:grid grid-cols-2">
      <div class="p-M md:px-L md:pt-L">
        <h2 class="h2_mobil md:h2 text-gul-900 pb-XS">Sæsonens is</h2>
        <p class="pstor_mobil md:p pb-XS">
          Hver sæson bringer nye smagsoplevelser - altid økologiske, altid
          friskfrosne med flydende nitrogen, og altid med fokus på kvalitet og
          nysgerrighed.
        </p>
        <p class="pstor_mobil md:p pb-XS">
          Kom forbi vores butik og se hvad sæsonen bringer af gode varianter.
        </p>
        <div class="md:pt-XS">
          <a href="is"><Button_S_Gul>Se vores smage her</Button_S_Gul></a>
        </div>
      </div>
      <div>
        <Image
          src={saesonis}
          alt="Bilelde af istids is"
          class="h-[550px] w-[600px] md:w-full md:h-[600px] object-cover"
          loading="lazy"
        />
      </div>
    </section>
    <section class="bg-rod-50 md:pt-XL md:h-[698px]">
      <div
        class="grid grid-cols-1 md:grid-cols-2 justify-items-center md:pl-XL"
      >
        <div class="pt-M px-M pb-S">
          <div>
            <h2 class="h2_mobil md:h2 text-rod-500 pb-XS">
              Nyhedsbrev tilmelding
            </h2>
            <p class="text-rod-900 pstor_mobil md:pstor pb-XS md:w-[800px]">
              Tilmeld dig vores nyhedsbrev og vær den første til at høre om
              sæsonens is, nye smagsvarianter og åbningstider.
            </p>
          </div>
          <div class="md:pt-XS">
            <form class="flex gap-S">
              <label for="newsletter-email" class="sr-only">Din e-mail</label>
              <input
                id="newsletter-email"
                type="email"
                placeholder="Din e-mail"
                class="border border-rod-500 rounded-medium bg-transparent p-XXS text-rod-600 placeholder-rod-600 uppercase bg-none w-[250px] md:w-[500px] text-p_mobil md:text-p_desk"
                required
              />
              <a href="/nyhed"
                ><button
                  type="button"
                  class="border border-rod-500 text-rod-600 p-XXS rounded-medium text-p_mobil md:text-p_desk"
                >
                  TILMELD NU
                </button></a
              >
            </form>
          </div>
        </div>
        <div class="relative w-full h-[500px] md:h-[700px] overflow-hidden">
          <!-- Stor rød baggrunds-SVG -->
          <svg
            width="555"
            height="530"
            class="absolute md:w-[555px] right-[-50px] md:h-[530px] z-10"
            viewBox="0 0 355 325"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M477 228.037C477 293.176 448.862 316.872 403.468 324.569C403.468 324.569 303.69 325 240.099 325C144.642 325 22.5723 325 22.5723 325C8.09335 295.575 0 262.71 0 228.037C0 102.096 106.78 0 238.5 0C370.22 0 477 102.096 477 228.037Z"
              fill="#DD3032"></path>
          </svg>

          <!-- Hvid dekorations-SVG -->
          <div
            class="absolute z-20 right-[40px] bottom-[100px] md:bottom-[300px]"
          >
            <svg
              width="249"
              height="247"
              viewBox="0 0 189 197"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.97217 98.1618C13.7086 123.617 18.6466 149.961 23.3932 175.408C25.6606 178.197 29.3994 182.077 35.1235 185.342C40.7266 188.536 46.2491 189.996 56.0949 191.554C66.2228 193.155 75.3531 194.59 89.1594 194.66C106.956 194.739 119.191 192.478 132.533 190.005C145.271 187.647 152.92 185.351 158.836 179.455C161.557 176.745 163.169 174.018 164.116 172.064C164.227 169.697 164.368 167.304 164.529 164.902C166.223 140.802 170.707 118.32 176.905 97.5898"
                stroke="#FBE9E9"
                stroke-width="4"
                stroke-miterlimit="10"></path>
              <path
                d="M8.42742 81.7188C7.0871 82.2995 6.66454 81.9879 4.78004 83.6157C3.48003 84.7332 2.88545 85.6307 2.38158 86.9681C0.960639 90.7516 5.12267 95.2479 5.85834 95.9166C9.3351 99.1195 13.5778 100.351 21.8514 101.847C33.5918 103.968 43.0043 104.716 47.0454 105.032C57.1431 105.815 62.192 106.203 68.7625 106.484C95.8813 107.628 118.102 106.247 126.779 105.613C148.607 104.029 155.45 103.783 163.744 101.557C171.987 99.3482 178.477 96.6381 182.81 94.6056C183.425 93.9017 184.332 92.6522 184.695 90.9276C185.199 88.4903 184.312 86.5634 183.959 85.8154C183.486 84.83 183.234 84.4692 182.8 83.9853"
                stroke="#FBE9E9"
                stroke-width="4"
                stroke-miterlimit="10"></path>
              <path
                d="M10.5006 84.4598C9.87583 84.5126 9.85903 83.9877 9.16367 85.6859C8.18615 88.0528 11.1086 90.4901 11.7032 90.8596C14.928 92.8218 18.042 93.2618 20.8234 93.6753C37.1995 96.1214 28.1297 95.4967 36.3731 96.2094C61.3352 98.3651 73.5996 98.6907 73.5996 98.6907C81.2284 98.8931 93.8757 99.201 110.977 98.6907C130.488 98.11 141.291 97.7316 155.681 95.0391C164.63 93.3585 171.906 91.3524 176.915 89.8214C177.046 89.7598 179.666 88.6687 179.616 88.5015"
                stroke="#FBE9E9"
                stroke-width="4"
                stroke-miterlimit="10"></path>
              <path
                d="M92.6718 168.469C109.542 168.469 123.217 156.528 123.217 141.799C123.217 127.069 109.542 115.129 92.6718 115.129C75.8021 115.129 62.1265 127.069 62.1265 141.799C62.1265 156.528 75.8021 168.469 92.6718 168.469Z"
                stroke="#FBE9E9"
                stroke-width="4"
                stroke-miterlimit="10"></path>
              <path
                d="M92.6717 168.468C106.236 168.468 117.732 160.741 121.719 150.061C114.104 140.314 106.499 130.575 98.8842 120.828C94.8535 127.224 90.4198 134.178 86.3892 140.574"
                stroke="#FBE9E9"
                stroke-width="4"
                stroke-miterlimit="10"></path>
              <path
                d="M97.0353 156.54C88.4395 143.649 86.5644 140.849 77.9686 127.958C73.4735 135.938 68.9872 143.917 64.4922 151.889"
                stroke="#FBE9E9"
                stroke-width="4"
                stroke-miterlimit="10"></path>
              <path
                d="M92.6719 168.47C101.916 168.47 110.188 164.881 115.787 159.22C112.317 156.504 109.32 154.025 102.959 148.395C98.4375 155.035 93.9161 161.676 89.3948 168.309C90.4725 168.408 91.5591 168.462 92.6631 168.462L92.6719 168.47Z"
                stroke="#FBE9E9"
                stroke-width="4"
                stroke-miterlimit="10"></path>
              <mask id="path-8-inside-1_775_560" fill="white">
                <path
                  d="M75.0333 173.219L75.0158 173.548V184.909L75.1385 186.133H72.6763L72.7989 184.909V173.548L72.8165 173.219L72.6938 172.01H75.156L75.0333 173.219Z"
                ></path>
              </mask>
              <path
                d="M75.0333 173.219L71.0538 172.815L71.0441 172.91L71.039 173.006L75.0333 173.219ZM75.0158 173.548L71.0215 173.335L71.0158 173.441V173.548H75.0158ZM75.0158 184.909H71.0158V185.109L71.0357 185.307L75.0158 184.909ZM75.1385 186.133V190.133H79.5594L79.1185 185.734L75.1385 186.133ZM72.6763 186.133L68.6962 185.734L68.2554 190.133H72.6763V186.133ZM72.7989 184.909L76.779 185.307L76.7989 185.109V184.909H72.7989ZM72.7989 173.548L68.8046 173.335L68.7989 173.441V173.548H72.7989ZM72.8165 173.219L76.8108 173.431L76.8273 173.122L76.796 172.815L72.8165 173.219ZM72.6938 172.01V168.01H68.2673L68.7142 172.414L72.6938 172.01ZM75.156 172.01L79.1356 172.414L79.5825 168.01H75.156V172.01ZM75.0333 173.219L71.039 173.006L71.0215 173.335L75.0158 173.548L79.0101 173.76L79.0277 173.431L75.0333 173.219ZM75.0158 173.548H71.0158V184.909H75.0158H79.0158V173.548H75.0158ZM75.0158 184.909L71.0357 185.307L71.1584 186.532L75.1385 186.133L79.1185 185.734L78.9959 184.51L75.0158 184.909ZM75.1385 186.133V182.133H72.6763V186.133V190.133H75.1385V186.133ZM72.6763 186.133L76.6563 186.532L76.779 185.307L72.7989 184.909L68.8189 184.51L68.6962 185.734L72.6763 186.133ZM72.7989 184.909H76.7989V173.548H72.7989H68.7989V184.909H72.7989ZM72.7989 173.548L76.7933 173.76L76.8108 173.431L72.8165 173.219L68.8221 173.006L68.8046 173.335L72.7989 173.548ZM72.8165 173.219L76.796 172.815L76.6734 171.606L72.6938 172.01L68.7142 172.414L68.8369 173.622L72.8165 173.219ZM72.6938 172.01V176.01H75.156V172.01V168.01H72.6938V172.01ZM75.156 172.01L71.1764 171.606L71.0538 172.815L75.0333 173.219L79.0129 173.622L79.1356 172.414L75.156 172.01Z"
                fill="#FBE9E9"
                mask="url(#path-8-inside-1_775_560)"></path>
              <mask id="path-10-inside-2_775_560" fill="white">
                <path
                  d="M81.9907 173.892V173.946C81.9556 175.468 82.6215 176.945 83.1823 178.352C83.7957 179.837 84.4529 181.428 84.4529 183.165C84.4529 183.968 84.3039 185.192 83.6204 186.125H78.8538C79.1604 185.192 79.2919 184.771 79.397 183.968L82.1309 184.19C82.2185 183.953 82.2535 183.677 82.2535 183.402C82.2535 181.045 80.8603 178.941 80.1506 176.761C79.8965 176.011 79.73 175.239 79.73 174.458C79.73 173.678 80.0191 172.867 80.5975 172.025H85.1626C84.7683 172.997 84.6193 173.418 84.4529 174.236L81.9731 173.892H81.9907Z"
                ></path>
              </mask>
              <path
                d="M81.9907 173.892H85.9907V169.892H81.9907V173.892ZM81.9907 173.946L85.9896 174.038L85.9907 173.992V173.946H81.9907ZM83.1823 178.352L79.4663 179.833L79.4758 179.856L79.4856 179.88L83.1823 178.352ZM83.6204 186.125V190.125H85.6492L86.8477 188.489L83.6204 186.125ZM78.8538 186.125L75.0536 184.877L73.3291 190.125H78.8538V186.125ZM79.397 183.968L79.7206 179.981L75.9251 179.673L75.4308 183.449L79.397 183.968ZM82.1309 184.19L81.8073 188.177L84.8315 188.422L85.883 185.576L82.1309 184.19ZM80.1506 176.761L83.9541 175.523L83.9467 175.5L83.9389 175.477L80.1506 176.761ZM80.5975 172.025V168.025H78.4928L77.3008 169.76L80.5975 172.025ZM85.1626 172.025L88.869 173.53L91.1027 168.025H85.1626V172.025ZM84.4529 174.236L83.9028 178.198L87.6239 178.715L88.3726 175.034L84.4529 174.236ZM81.9731 173.892V169.892L81.423 177.854L81.9731 173.892ZM81.9907 173.892H77.9907V173.946H81.9907H85.9907V173.892H81.9907ZM81.9907 173.946L77.9917 173.854C77.9333 176.39 79.0438 178.772 79.4663 179.833L83.1823 178.352L86.8983 176.872C86.1993 175.117 85.9779 174.547 85.9896 174.038L81.9907 173.946ZM83.1823 178.352L79.4856 179.88C80.1474 181.482 80.4529 182.348 80.4529 183.165H84.4529H88.4529C88.4529 180.507 87.444 178.192 86.8791 176.825L83.1823 178.352ZM84.4529 183.165H80.4529C80.4529 183.337 80.4351 183.527 80.3986 183.683C80.3604 183.846 80.3316 183.846 80.3932 183.762L83.6204 186.125L86.8477 188.489C88.2797 186.533 88.4529 184.275 88.4529 183.165H84.4529ZM83.6204 186.125V182.125H78.8538V186.125V190.125H83.6204V186.125ZM78.8538 186.125L82.6539 187.374C82.9757 186.395 83.2071 185.68 83.3632 184.487L79.397 183.968L75.4308 183.449C75.3767 183.863 75.3452 183.989 75.0536 184.877L78.8538 186.125ZM79.397 183.968L79.0734 187.955L81.8073 188.177L82.1309 184.19L82.4544 180.203L79.7206 179.981L79.397 183.968ZM82.1309 184.19L85.883 185.576C86.1857 184.757 86.2535 183.976 86.2535 183.402H82.2535H78.2535C78.2535 183.374 78.2551 183.313 78.2683 183.223C78.2813 183.136 78.3102 182.989 78.3787 182.804L82.1309 184.19ZM82.2535 183.402H86.2535C86.2535 181.453 85.6775 179.769 85.1824 178.53C84.5759 177.014 84.2676 176.486 83.9541 175.523L80.1506 176.761L76.347 177.999C76.7433 179.217 77.4865 180.831 77.7541 181.5C78.1329 182.448 78.2535 182.994 78.2535 183.402H82.2535ZM80.1506 176.761L83.9389 175.477C83.7778 175.002 83.73 174.676 83.73 174.458H79.73H75.73C75.73 175.801 76.0151 177.021 76.3622 178.045L80.1506 176.761ZM79.73 174.458H83.73C83.73 174.571 83.7079 174.627 83.7145 174.608C83.7235 174.583 83.766 174.477 83.8941 174.291L80.5975 172.025L77.3008 169.76C76.4042 171.065 75.73 172.653 75.73 174.458H79.73ZM80.5975 172.025V176.025H85.1626V172.025V168.025H80.5975V172.025ZM85.1626 172.025L81.4562 170.521C81.0195 171.597 80.7697 172.276 80.5331 173.439L84.4529 174.236L88.3726 175.034C88.469 174.56 88.5171 174.397 88.869 173.53L85.1626 172.025ZM84.4529 174.236L85.0029 170.274L82.5232 169.93L81.9731 173.892L81.423 177.854L83.9028 178.198L84.4529 174.236ZM81.9731 173.892V177.892H81.9907V173.892V169.892H81.9731V173.892Z"
                fill="#FBE9E9"
                mask="url(#path-10-inside-2_775_560)"></path>
              <mask id="path-12-inside-3_775_560" fill="white">
                <path
                  d="M94.9762 173.93L92.479 173.945V184.924L92.5841 186.133H90.1219L90.2446 184.909V173.93H87.7474L87.5984 172.01H95.1164L94.9675 173.93H94.9762Z"
                ></path>
              </mask>
              <path
                d="M94.9762 173.93L95.0008 177.93L94.9762 169.93V173.93ZM92.479 173.945L92.4545 169.945L88.479 169.97V173.945H92.479ZM92.479 184.924H88.479V185.098L88.494 185.271L92.479 184.924ZM92.5841 186.133V190.133H96.9472L96.5691 185.786L92.5841 186.133ZM90.1219 186.133L86.1419 185.734L85.701 190.133H90.1219V186.133ZM90.2446 184.909L94.2247 185.307L94.2446 185.109V184.909H90.2446ZM90.2446 173.93H94.2446V169.93H90.2446V173.93ZM87.7474 173.93L83.7593 174.239L84.0456 177.93H87.7474V173.93ZM87.5984 172.01V168.01H83.2761L83.6104 172.319L87.5984 172.01ZM95.1164 172.01L99.1045 172.319L99.4387 168.01H95.1164V172.01ZM94.9675 173.93L90.9795 173.621L90.6452 177.93H94.9675V173.93ZM94.9762 173.93L94.9517 169.93L92.4545 169.945L92.479 173.945L92.5035 177.945L95.0008 177.93L94.9762 173.93ZM92.479 173.945H88.479V184.924H92.479H96.479V173.945H92.479ZM92.479 184.924L88.494 185.271L88.5992 186.479L92.5841 186.133L96.5691 185.786L96.4639 184.577L92.479 184.924ZM92.5841 186.133V182.133H90.1219V186.133V190.133H92.5841V186.133ZM90.1219 186.133L94.102 186.532L94.2247 185.307L90.2446 184.909L86.2645 184.51L86.1419 185.734L90.1219 186.133ZM90.2446 184.909H94.2446V173.93H90.2446H86.2446V184.909H90.2446ZM90.2446 173.93V169.93H87.7474V173.93V177.93H90.2446V173.93ZM87.7474 173.93L91.7354 173.621L91.5864 171.7L87.5984 172.01L83.6104 172.319L83.7593 174.239L87.7474 173.93ZM87.5984 172.01V176.01H95.1164V172.01V168.01H87.5984V172.01ZM95.1164 172.01L91.1284 171.7L90.9795 173.621L94.9675 173.93L98.9555 174.239L99.1045 172.319L95.1164 172.01ZM94.9675 173.93V177.93H94.9762V173.93V169.93H94.9675V173.93Z"
                fill="#FBE9E9"
                mask="url(#path-12-inside-3_775_560)"></path>
              <mask id="path-14-inside-4_775_560" fill="white">
                <path
                  d="M100.444 173.219L100.426 173.548V184.909L100.558 186.133H98.0957L98.2271 184.909V173.548L98.2447 173.219L98.1132 172.01H100.575L100.453 173.219H100.444Z"
                ></path>
              </mask>
              <path
                d="M100.444 173.219V169.219H96.6515L96.4497 173.006L100.444 173.219ZM100.426 173.548L96.4321 173.335L96.4265 173.441V173.548H100.426ZM100.426 184.909H96.4265V185.123L96.4493 185.336L100.426 184.909ZM100.558 186.133V190.133H105.01L104.535 185.706L100.558 186.133ZM98.0957 186.133L94.1186 185.706L93.6432 190.133H98.0957V186.133ZM98.2271 184.909L102.204 185.336L102.227 185.123V184.909H98.2271ZM98.2271 173.548L94.2328 173.335L94.2271 173.441V173.548H98.2271ZM98.2447 173.219L102.239 173.431L102.256 173.108L102.221 172.786L98.2447 173.219ZM98.1132 172.01V168.01H93.6547L94.1367 172.442L98.1132 172.01ZM100.575 172.01L104.555 172.414L105.002 168.01H100.575V172.01ZM100.453 173.219V177.219H104.067L104.432 173.622L100.453 173.219ZM100.444 173.219L96.4497 173.006L96.4321 173.335L100.426 173.548L104.421 173.76L104.438 173.431L100.444 173.219ZM100.426 173.548H96.4265V184.909H100.426H104.426V173.548H100.426ZM100.426 184.909L96.4493 185.336L96.5808 186.56L100.558 186.133L104.535 185.706L104.404 184.482L100.426 184.909ZM100.558 186.133V182.133H98.0957V186.133V190.133H100.558V186.133ZM98.0957 186.133L102.073 186.56L102.204 185.336L98.2271 184.909L94.25 184.482L94.1186 185.706L98.0957 186.133ZM98.2271 184.909H102.227V173.548H98.2271H94.2271V184.909H98.2271ZM98.2271 173.548L102.221 173.76L102.239 173.431L98.2447 173.219L94.2503 173.006L94.2328 173.335L98.2271 173.548ZM98.2447 173.219L102.221 172.786L102.09 171.577L98.1132 172.01L94.1367 172.442L94.2681 173.651L98.2447 173.219ZM98.1132 172.01V176.01H100.575V172.01V168.01H98.1132V172.01ZM100.575 172.01L96.5959 171.606L96.4732 172.815L100.453 173.219L104.432 173.622L104.555 172.414L100.575 172.01ZM100.453 173.219V169.219H100.444V173.219V177.219H100.453V173.219Z"
                fill="#FBE9E9"
                mask="url(#path-14-inside-4_775_560)"></path>
              <mask id="path-16-inside-5_775_560" fill="white">
                <path
                  d="M110.284 186.133H104.992V173.341L106.639 172.025H109.916C111.616 173.211 112.667 174.313 112.667 177.128C112.667 179.393 112.413 181.742 112.124 184.136C111.432 184.702 110.784 185.345 110.275 186.133H110.284ZM107.2 173.862C107.252 175.491 107.252 178.199 107.252 178.199L107.235 184.167H109.846C110.284 181.986 110.424 179.921 110.424 177.817C110.424 176.264 110.407 173.9 107.997 173.884L107.2 173.869V173.862Z"
                ></path>
              </mask>
              <path
                d="M104.992 186.133H100.992V190.133H104.992V186.133ZM104.992 173.341L102.495 170.216L100.992 171.417V173.341H104.992ZM106.639 172.025V168.025H105.238L104.142 168.9L106.639 172.025ZM109.916 172.025L112.205 168.745L111.173 168.025H109.916V172.025ZM112.124 184.136L114.657 187.233L115.902 186.214L116.095 184.616L112.124 184.136ZM110.275 186.133L106.914 183.965L102.936 190.133H110.275V186.133ZM107.2 173.862L111.198 173.733L103.2 173.862H107.2ZM107.252 178.199L111.252 178.211V178.199L107.252 178.199ZM107.235 184.167L103.235 184.155L103.223 188.167H107.235V184.167ZM109.846 184.167V188.167H113.122L113.768 184.955L109.846 184.167ZM107.997 173.884L107.92 177.884L107.946 177.884L107.972 177.884L107.997 173.884ZM107.2 173.869H103.2V177.793L107.123 177.868L107.2 173.869ZM110.284 186.133V182.133H104.992V186.133V190.133H110.284V186.133ZM104.992 186.133H108.992V173.341H104.992H100.992V186.133H104.992ZM104.992 173.341L107.488 176.467L109.136 175.151L106.639 172.025L104.142 168.9L102.495 170.216L104.992 173.341ZM106.639 172.025V176.025H109.916V172.025V168.025H106.639V172.025ZM109.916 172.025L107.628 175.306C108.366 175.821 108.489 176.008 108.519 176.056C108.527 176.07 108.556 176.117 108.589 176.25C108.624 176.397 108.667 176.669 108.667 177.128H112.667H116.667C116.667 175.206 116.303 173.447 115.34 171.876C114.419 170.373 113.166 169.416 112.205 168.745L109.916 172.025ZM112.667 177.128H108.667C108.667 179.127 108.442 181.262 108.153 183.657L112.124 184.136L116.095 184.616C116.384 182.222 116.667 179.659 116.667 177.128H112.667ZM112.124 184.136L109.592 181.04C108.707 181.763 107.725 182.708 106.914 183.965L110.275 186.133L113.637 188.301C113.843 187.982 114.157 187.641 114.657 187.233L112.124 184.136ZM110.275 186.133V190.133H110.284V186.133V182.133H110.275V186.133ZM107.2 173.862L103.202 173.991C103.226 174.752 103.239 175.795 103.246 176.671C103.249 177.104 103.251 177.488 103.252 177.763C103.252 177.9 103.252 178.01 103.252 178.085C103.252 178.123 103.252 178.152 103.252 178.171C103.252 178.181 103.252 178.188 103.252 178.193C103.252 178.195 103.252 178.197 103.252 178.198C103.252 178.199 103.252 178.199 103.252 178.199C103.252 178.199 103.252 178.199 103.252 178.199C103.252 178.199 103.252 178.199 103.252 178.199C103.252 178.199 103.252 178.199 107.252 178.199C111.252 178.199 111.252 178.199 111.252 178.199C111.252 178.199 111.252 178.199 111.252 178.199C111.252 178.199 111.252 178.199 111.252 178.199C111.252 178.198 111.252 178.198 111.252 178.197C111.252 178.195 111.252 178.193 111.252 178.19C111.252 178.185 111.252 178.177 111.252 178.166C111.252 178.145 111.252 178.114 111.252 178.075C111.252 177.995 111.252 177.881 111.252 177.739C111.251 177.455 111.249 177.059 111.246 176.612C111.239 175.727 111.226 174.6 111.198 173.733L107.2 173.862ZM107.252 178.199L103.252 178.188L103.235 184.155L107.235 184.167L111.235 184.179L111.252 178.211L107.252 178.199ZM107.235 184.167V188.167H109.846V184.167V180.167H107.235V184.167ZM109.846 184.167L113.768 184.955C114.272 182.447 114.424 180.105 114.424 177.817H110.424H106.424C106.424 179.736 106.297 181.526 105.924 183.379L109.846 184.167ZM110.424 177.817H114.424C114.424 177.2 114.468 175.436 113.843 173.826C113.491 172.92 112.863 171.866 111.748 171.054C110.612 170.226 109.304 169.893 108.023 169.885L107.997 173.884L107.972 177.884C107.896 177.884 107.493 177.851 107.038 177.52C106.604 177.204 106.432 176.841 106.386 176.722C106.35 176.629 106.378 176.659 106.4 176.905C106.421 177.144 106.424 177.415 106.424 177.817H110.424ZM107.997 173.884L108.074 169.885L107.277 169.87L107.2 173.869L107.123 177.868L107.92 177.884L107.997 173.884ZM107.2 173.869H111.2V173.862H107.2H103.2V173.869H107.2Z"
                fill="#FBE9E9"
                mask="url(#path-16-inside-5_775_560)"></path>
              <path
                d="M17.0082 92.6832C15.8956 91.7159 13.5007 89.025 11.8476 87.0728C10.5971 85.5955 5.01255 78.7628 3.41242 68.2543C2.71303 63.6376 1.71586 58.4927 2.07615 55.1687C2.53182 50.9213 4.90658 42.8493 9.57982 35.2164C19.4985 19.0097 44.2211 14.8414 47.0716 14.393C76.8277 9.73231 86.0127 14.393 99.5298 21.9622C116.472 31.4498 119.312 43.5305 121.113 51.8845C123.159 61.3721 127.436 75.7858 114.871 91.4784C112.921 94.3716 110.78 96.5348 109.18 97.9682"
                stroke="#FBE9E9"
                stroke-width="4"
                stroke-miterlimit="10"></path>
              <path
                d="M102.142 23.8465C104.087 22.7818 100.789 24.117 104.165 22.8147C106.987 21.7237 116.681 18.1777 128.109 17.9665C149.514 17.5617 165.064 29.0444 166.999 30.5138C170.707 33.3295 185.299 44.7857 186.73 63.6331C187.547 74.4558 183.667 82.9116 181.369 87.0471C180.18 88.015 178.487 89.7924 175.746 90.1707C175.313 90.2323 174.396 90.6723 173.992 90.6898"
                stroke="#FBE9E9"
                stroke-width="4"
                stroke-miterlimit="10"></path>
              <path
                d="M62.541 12.529C65.786 9.78376 73.269 4.42055 89.4133 2.56398C94.2001 2.00964 109.891 0.109068 123.425 8.82883C128.585 12.1548 132.788 15.4872 134.693 18.1884"
                stroke="#FBE9E9"
                stroke-width="4"
                stroke-miterlimit="10"></path>
            </svg>
          </div>
        </div>
      </div>
    </section>
  </article>
</MainLayout>

<style>
  .group:hover .svg-animate {
    animation: tada 1s;
  }
</style>

<script>
  import { inView, animate, scroll } from "motion";

  // <-- inview nitrogen 1 -->
  const nitrogen1zoomIn = document.querySelector("#nitrogen1");

  inView(nitrogen1zoomIn, () => {
    nitrogen1zoomIn.classList.add("animate__animated", "animate__zoomIn");
  });

  // <-- inview nitrogen 2 -->
  const nitrogen2zoomIn = document.querySelector("#nitrogen2");

  inView(nitrogen2zoomIn, () => {
    nitrogen2zoomIn.classList.add("animate__animated", "animate__zoomIn");
  });

  // <-- inview bil -->
  const bilFadein = document.querySelector("#bil");

  inView(bilFadein, () => {
    bilFadein.classList.add(
      "animate__animated",
      "animate__fadeInRight",
      "animate__delay-0.75s"
    );
  });

  // <-- inview isboks -->
  const isbokspulse = document.querySelector("#isboks");

  inView(isbokspulse, () => {
    isbokspulse.classList.add(
      "animate__animated",
      "animate__pulse",
      "animate__infinite"
    );
  });

  // <-- inview hvem er istid -->
  const hvemeristidFadeinUpBig = document.querySelector("#hvemeristid");

  inView(hvemeristidFadeinUpBig, () => {
    hvemeristidFadeinUpBig.classList.add(
      "animate__animated",
      "animate__fadeInUpBig",
      "animate__delay-0.75s"
    );
  });

  scroll(animate(".stickyparallax1", { y: [-300, 0] }), {
    target: document.querySelector(".stickyparallax1"),
  });
</script>
