---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Button_Gul from "../components/Button_Gul.astro";
import Button_S_Gul from "../components/Button_S_Gul.astro";
import Button_S_Rod from "../components/Button_S_Rod.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import scooper from "../assets/images/scooper.webp";
import frabutik from "../assets/images/frabutik.webp";
import hojkvalitet from "../assets/images/hojkvalitet.webp";
import smag from "../assets/images/smag.webp";
import oplevelse from "../assets/images/oplevelse.webp";
import saesonis from "../assets/images/saesonis.webp";
import forside1 from "../assets/images/forside1.webp";
import forside2 from "../assets/images/forside2.webp";
---

<MainLayout title="Titel">
  <article class="">
    <section class="bg-blaa-50 relative pb-L overflow-hidden">
      <div class="pt-L px-M">
        <h3 class="h3_mobil md:h3 text-rod-500 md:pb-XXS">
          Velkommen til istid
        </h3>
        <h1 class="h1_mobil md:h1 text-blaa-600 md:pb-XXS">
          Is på en helt <br /> ny måde
        </h1>
        <p class="pstor_mobil md:pstor text-blaa-600 pb-XXS">
          Håndlavet økologisk nitrogen is <br /> til hverdag og events
        </p>
        <Button>Book os nu</Button>
      </div>

      <!-- Grafik og billeder-wrapper -->
      <div class="relative w-full h-[100px]">
        <svg
          width="332"
          height="319"
          class="absolute bottom-[-123px] md:bottom-[-129px] right-[0] z-10 md:w-[532px] md:h-[519px]"
          viewBox="0 0 232 219"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M326 153.662C326 197.556 306.77 213.523 275.745 218.71C275.745 218.71 207.553 219 164.092 219C98.854 219 15.4268 219 15.4268 219C5.53131 199.172 0 177.026 0 153.662C0 68.7967 72.9776 0 163 0C253.022 0 326 68.7967 326 153.662Z"
            fill="#DD3032"></path>
        </svg>

        <!-- Billeder -->
        <Image
          src={forside1}
          alt="Billede af en person der scooper is."
          class="absolute w-[300px] h-[350px] md:w-[600px] md:h-[650px] bottom-[-120px] right-[80px] z-20"
          loading="lazy"
        />
        <Image
          src={forside2}
          alt="Billede af en person der scooper is."
          class="absolute w-[200px] h-[350px] md:w-[400px] md:h-[650px] bottom-[-120px] right-[0] z-30"
          loading="lazy"
        />
      </div>
    </section>

    <section class="text-center p-M md:py-L">
      <h2 class="h2_mobil md:h2 text-rod-500">Økologisk nitrogen is</h2>
      <p class="pstor_mobil md:pstor text-blaa-900">
        Økologisk nitrogen-is fra hjertet af Nørrebro – friskfrosset på stedet
        for en cremet, intens smagsoplevelse. Vi laver også catering i hele
        Danmark!
      </p>
    </section>
    <section class="md:grid grid-cols-2 bg-gul-300">
      <div>
        <Image
          src={scooper}
          alt="Billede af en person der scooper is."
          class="h-[550px] w-[600px] md:w-full md:h-[600px] object-cover"
          loading="lazy"
        />
      </div>
      <div class="p-M md:py-L">
        <h2 class="h2_mobil md:h2 text-gron-800 pb-XS">
          NITROGEN IS MERE END GOD SMAG
        </h2>
        <p class="pstor_mobil md:pstor text-gron-800 md:pb-S">
          Hos ISTID bruger vi flydende nitrogen til at fryse isen – det sker ved
          minus 196 grader og direkte foran dig!
        </p>
        <p class="pstor_mobil md:pstor text-gron-800">
          Når isen lynfryses på denne måde, bevares smagene bedre, og strukturen
          bliver ekstra cremet.
        </p>
      </div>
    </section>
    <section class="bg-rod-100 md:grid grid-cols-2 p-M justify-items-center">
      <div>
        <h2 class="h2_mobil md:h2 text-blaa-600 pb-XS">EVENTS OG CATERING</h2>
        <p class="pstor_mobil md:pstor text-rod-500 pb-XS">
          Gør dit event til en uforglemmelig oplevelse <br /> Book vores
          nitrogen-is catering i dag
        </p>
        <Button_S_Rod>BOOK NU</Button_S_Rod>
      </div>
      <div class="pt-S">
        <svg
          width="427.5"
          height="184.5"
          viewBox="0 0 475 205"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_521_1333)">
            <path
              d="M29.0646 168.641H16.996C16.8972 168.594 16.5776 168.423 16.4033 168.04C16.1999 167.609 16.351 167.156 16.4033 166.955C16.566 166.366 16.473 165.376 16.2871 163.395C16.1709 162.163 16.1128 161.55 15.9268 161.044C15.2528 159.228 13.9861 158.886 14.0268 157.549C14.0442 156.971 14.2941 156.464 14.4451 156.164C14.91 155.226 15.3748 155.167 15.6363 154.596C15.8164 154.195 15.8571 153.641 14.6834 151.16C13.7479 149.173 13.5503 149.168 12.9576 147.724C12.2545 146.014 12.1151 145.006 12.0686 144.588C12.0105 144.087 12.0105 143.698 12.0686 142.419C12.2662 138.193 12.516 137.84 12.2487 136.508C12.0454 135.511 11.871 135.517 11.534 133.973C11.4236 133.466 11.2086 132.441 11.1157 131.138C10.9588 128.851 11.412 128.834 11.1157 128.003C10.8077 127.142 10.2499 126.971 7.1935 124.926C5.64788 123.895 4.86344 123.364 4.4567 122.934C3.27715 121.684 2.79487 120.358 2.25448 118.832C1.91746 117.871 1.47586 116.398 1.12722 113.828C0.557781 109.62 0.273061 107.516 1.12722 105.264C1.98719 103.013 3.4689 101.604 4.21847 100.985C5.60139 99.8419 7.05404 99.2761 9.75017 98.6336C14.7822 97.4313 17.3621 97.5904 23.6608 96.7063C25.8339 96.3999 25.1309 96.4352 28.8322 95.8635C31.4819 95.451 36.142 94.7319 41.4935 94.172C50.6162 93.2172 55.1775 92.7398 56.6534 92.8459C57.7051 92.9225 60.163 93.1406 62.7778 91.9441C63.3705 91.673 65.0265 90.8891 66.4036 89.1681C67.3333 88.007 67.3682 87.3823 68.1875 85.8499C68.7511 84.8008 69.2566 84.123 71.8482 81.1348C74.5675 77.9934 75.9446 76.4433 76.7058 75.6299C81.6449 70.3549 83.0162 69.3117 86.1829 65.9345C88.5537 63.4061 87.961 63.8069 94.3643 56.1979C101.988 47.1449 101.32 48.3767 104.283 44.5752C108.112 39.6656 108.955 37.9564 112.22 34.8798C113.597 33.5832 115.3 32.2924 118.699 29.705C124.26 25.4791 127.037 23.3691 129.391 22.0666C133.905 19.5676 137.694 18.6599 142.308 17.5873C147.218 16.4497 151.122 16.0431 160.082 15.4949C168.548 14.9763 173.598 14.8172 181.988 14.4694C195.736 13.8977 194.783 13.8034 204.586 13.4439C216.509 13.0077 216.625 13.1963 227.299 12.7897C240.844 12.271 240.664 11.9645 251.111 11.6404C262.425 11.2867 262.767 11.6404 276.382 11.3103C284.97 11.104 284.331 10.9744 299.624 10.4498C308.421 10.1492 314.801 9.9783 326.388 9.67182C336.864 9.39481 342.105 9.25336 347.201 9.17674C357.184 9.02939 357.283 9.16495 369.433 9.05296C377.643 8.97634 384.273 8.85257 395.429 8.84668C406.04 8.84668 409.817 8.95277 415.11 10.1198C418.474 10.8624 423.646 12.2946 429.363 15.3771C432.902 17.2808 436.731 19.3967 440.055 23.7169C441.31 25.3495 442.013 26.7109 443.413 29.428C445.552 33.5655 446.667 36.6951 448.963 43.1902C451.566 50.5634 452.867 54.2529 453.419 55.8796C456.528 65.074 458.079 69.6653 458.399 71.5691C458.91 74.6044 459.05 77.0857 460.665 80.3568C461.723 82.4963 462.246 82.6141 463.826 85.8204C464.965 88.1308 465.296 89.2978 466.662 91.0777C467.789 92.5512 468.161 92.5394 468.887 93.6651C470.16 95.6396 470.293 97.667 470.386 99.3763C470.77 106.449 470.962 109.985 470.793 113.298C470.601 117.064 470.508 118.944 470.067 121.142C469.265 125.115 468.324 126.37 467.475 130.178C467.039 132.146 466.569 135.052 466.627 138.759C466.935 138.788 467.249 138.812 467.557 138.842C468.655 142.166 468.242 143.568 467.597 144.223C466.644 145.189 464.913 144.783 463.873 146.274C463.756 146.439 463.693 146.568 463.303 147.794C461.949 152.097 462.135 152.557 462.292 152.804C462.856 153.706 464.384 153.977 464.924 154.077C465.779 154.23 466.255 154.107 466.383 154.366C466.551 154.714 465.901 155.356 464.401 156.706C461.014 159.747 460.247 160.112 459.648 160.336C458.376 160.808 457.324 160.82 456.789 160.837C453.251 160.943 452.559 161.662 443.437 162.953C438.556 163.649 437.957 163.554 428.492 164.568C416.063 165.9 414.407 166.348 406.964 166.967C400.967 167.468 396.103 167.668 393.099 167.763C392.298 162.906 389.956 152.798 382.117 143.126C371.623 130.166 358.189 126.523 353.837 125.409C338.172 121.402 325.603 125.675 323.058 126.588C318.259 128.309 311.315 130.802 305.592 137.728C297.648 147.329 297.643 158.692 297.771 162.193L291.449 169.619C290.037 169.714 287.933 169.843 285.394 169.973C272.657 170.609 263.174 170.433 259.903 170.379C258.874 170.362 247.09 170.586 223.511 171.022C207.462 171.323 175.091 171.953 105.335 173.356C104.196 172.378 102.522 170.833 100.715 168.735C97.8506 165.405 96.6827 163.018 93.3997 157.608C89.9831 151.979 88.2806 149.162 87.1766 148.042C82.7547 143.551 77.4961 142.007 74.6663 141.211C70.1224 139.932 66.3804 140.073 58.8847 140.362C52.5802 140.604 49.425 140.728 46.1827 142.054C40.4767 144.388 37.1704 148.437 35.7236 150.252C30.0001 157.437 29.2157 165.393 29.0821 168.641H29.0646Z"
              fill="#DD3032"
              stroke="black"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M16.5951 153.14C21.017 152.916 25.4505 153.04 29.8781 152.816C30.1106 152.804 30.4069 152.692 30.5057 152.451C31.8944 149.15 33.2773 145.855 34.6661 142.555L36.7172 137.675C37.2111 136.502 38.0769 135.146 37.9549 133.814C37.676 130.755 33.9049 131.186 31.7956 131.209C28.7451 131.245 25.6945 131.256 22.6439 131.274C19.2389 131.292 15.8281 131.309 12.4231 131.362C11.4876 131.38 11.4876 132.854 12.4231 132.836C17.9722 132.748 23.5271 132.753 29.0763 132.706C30.4592 132.694 31.8421 132.683 33.2309 132.659C34.2245 132.647 35.5202 132.453 36.2524 133.319C36.601 133.726 36.5545 134.256 36.3802 134.728C36.0955 135.518 35.7294 136.284 35.404 137.056L33.5272 141.529C32.1036 144.918 30.68 148.307 29.2564 151.696L29.884 151.331C25.4621 151.555 21.0286 151.431 16.6009 151.655C15.6712 151.702 15.6654 153.176 16.6009 153.128L16.5951 153.14Z"
              fill="#B81E21"></path>
            <path
              d="M36.0607 135.199C28.5127 135.246 20.9706 135.223 13.4226 135.264C12.4871 135.264 12.4871 136.743 13.4226 136.738C20.9706 136.69 28.5127 136.714 36.0607 136.673C36.9962 136.673 36.9962 135.193 36.0607 135.199Z"
              fill="#B81E21"></path>
            <path
              d="M34.6661 139.118C27.6294 139.13 20.5928 139.1 13.5561 139.118C12.6206 139.118 12.6206 140.592 13.5561 140.592C20.5928 140.58 27.6294 140.609 34.6661 140.592C35.6016 140.592 35.6016 139.118 34.6661 139.118Z"
              fill="#B81E21"></path>
            <path
              d="M32.7951 142.991H13.2946C12.3591 142.991 12.3591 144.465 13.2946 144.465H32.7951C33.7306 144.465 33.7306 142.991 32.7951 142.991Z"
              fill="#B81E21"></path>
            <path
              d="M31.5051 146.816C25.7236 146.816 19.9478 146.627 14.1721 146.621C13.2366 146.621 13.2366 148.095 14.1721 148.095C19.9536 148.095 25.7294 148.283 31.5051 148.289C32.4407 148.289 32.4407 146.816 31.5051 146.816Z"
              fill="#B81E21"></path>
            <path
              d="M102.604 160.408C104.149 163.749 105.695 167.085 107.246 170.427C128.949 169.92 150.652 169.413 172.354 168.906V159.188C149.106 159.594 125.852 159.995 102.604 160.402V160.408Z"
              fill="#CCCCCC"></path>
            <path
              d="M267.846 139.001H175.945V150.235H267.846V139.001Z"
              fill="#CCCCCC"></path>
            <path
              d="M168.542 15.0235V4.78585C168.618 4.0609 168.833 3.18861 169.426 2.42831C171.192 0.147385 175.399 -0.00585526 177.915 1.93912C179.118 2.87034 179.85 4.0668 179.995 4.94498C180.082 5.45185 179.995 5.97641 179.995 6.48917V14.5402C176.178 14.5637 172.36 14.9999 168.537 15.0235H168.542Z"
              fill="#7ABAFF"
              stroke="black"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M252.541 36.9482H190.204C185.853 36.9482 182.325 40.5264 182.325 44.9403V75.6709C182.325 80.0848 185.853 83.6629 190.204 83.6629H252.541C256.892 83.6629 260.42 80.0848 260.42 75.6709V44.9403C260.42 40.5264 256.892 36.9482 252.541 36.9482Z"
              fill="#F2F2F2"></path>
            <path
              d="M156.183 83.604H129.164C124.812 83.604 121.285 84.4527 121.285 79.9615V45.0876C121.285 40.5965 124.812 36.9541 129.164 36.9541H156.183C160.536 36.9541 164.063 40.5965 164.063 45.0876V75.4645C164.063 79.9557 160.536 83.5981 156.183 83.5981V83.604Z"
              fill="#F2F2F2"></path>
            <path
              d="M108.972 83.6338L97.409 82.9973C93.0569 82.9973 118.199 40.3494 118.199 44.7639V79.8676C118.199 84.2821 113.324 83.6338 108.972 83.6338Z"
              fill="#F2F2F2"></path>
            <path
              d="M71.7436 82.0658C74.3003 82.6552 76.4386 82.8144 77.9261 82.8497C80.4711 82.9087 81.9993 82.9263 83.5275 82.0658C85.4799 80.9637 86.3282 79.0423 86.6769 78.2761C89.2394 72.6769 94.3527 65.3155 98.1122 59.899C102.307 53.8519 105.091 51.4885 107.171 47.5927C108.223 45.6241 108.908 43.4139 108.961 43.243C109.495 41.634 110.686 38.0446 110.204 37.6733C109.338 37.0073 101.221 45.4532 71.7378 82.0599L71.7436 82.0658Z"
              fill="#F2F2F2"></path>
            <path
              d="M303.965 164.769C301.919 165.5 291.158 169.054 291.158 169.054L290.618 169.071C290.496 169.095 290.472 169.071 290.472 169.083C290.472 169.171 290.385 164.81 291.664 158.739C293.447 150.252 295.208 141.895 301.454 133.779C306.37 127.396 311.763 124.148 313.006 123.423C319.369 119.704 324.999 118.926 331.67 118.078C338.288 117.235 346.713 116.162 357.196 119.009C362.007 120.317 370.525 122.634 378.12 130.042C384.744 136.508 387.504 143.751 390.421 151.437C392.821 157.743 394.076 163.272 394.773 167.227C390.31 167.115 385.848 167.003 381.379 166.885C381.403 164.663 381.24 161.551 380.374 157.973C379.909 156.064 378.277 149.297 373.849 144.476C369.444 139.685 364.093 138.777 353.593 137.003C346.289 135.771 337.951 134.445 327.649 137.003C321.966 138.411 316.765 139.702 312.082 144.217C304.523 151.502 304.005 161.686 303.965 164.763V164.769Z"
              fill="#FFFEFA"></path>
            <path
              d="M0.848389 111.759C151.07 108.848 301.298 105.936 451.519 103.024"
              stroke="#B81E21"
              stroke-width="5"
              stroke-miterlimit="10"></path>
            <path
              d="M62.8417 201.971C78.0144 201.971 90.3143 189.494 90.3143 174.104C90.3143 158.714 78.0144 146.238 62.8417 146.238C47.669 146.238 35.3691 158.714 35.3691 174.104C35.3691 189.494 47.669 201.971 62.8417 201.971Z"
              fill="#666666"
              stroke="black"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M341.925 204.411C357.098 204.411 369.398 191.935 369.398 176.545C369.398 161.155 357.098 148.679 341.925 148.679C326.753 148.679 314.453 161.155 314.453 176.545C314.453 191.935 326.753 204.411 341.925 204.411Z"
              fill="#666666"
              stroke="black"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M15.9269 152.846C15.1832 152.38 13.8642 153.429 10.6625 155.221C5.93269 157.861 4.75894 157.319 3.67236 159.117C2.38822 161.25 2.18484 164.445 3.67236 166.354C4.36963 167.256 5.36325 167.757 5.51432 167.834C6.8159 168.482 8.02451 168.417 8.59976 168.4C10.5812 168.329 13.3005 168.417 16.9903 168.647C17.031 167.663 17.2401 166.172 17.0426 164.415C16.7869 162.182 16.6475 161.722 16.3802 159.93C15.7178 155.539 16.9031 153.459 15.9269 152.846Z"
              fill="#F2F2F2"></path>
            <path
              d="M467.789 143.232C468.475 143.391 468.533 143.975 469.3 144.765C470.845 146.344 472.147 145.554 473.367 146.804C474.425 147.888 474.407 149.462 474.372 151.737C474.355 153.016 474.314 154.566 473.367 155.138C472.885 155.433 472.356 155.35 472.025 155.309C468.056 154.772 467.475 155.556 463.809 154.543C461.792 153.983 461.409 153.594 461.211 153.222C461.008 152.851 460.956 152.444 461.502 149.951C462.182 146.851 462.501 146.391 462.716 146.126C462.96 145.826 463.663 145.372 465.064 144.47C466.952 143.25 467.376 143.144 467.789 143.238V143.232Z"
              fill="#F2F2F2"></path>
            <path
              d="M62.8418 181.478C66.8564 181.478 70.1109 178.177 70.1109 174.105C70.1109 170.033 66.8564 166.731 62.8418 166.731C58.8272 166.731 55.5728 170.033 55.5728 174.105C55.5728 178.177 58.8272 181.478 62.8418 181.478Z"
              fill="#999999"></path>
            <path
              d="M341.925 183.917C345.94 183.917 349.194 180.616 349.194 176.544C349.194 172.472 345.94 169.171 341.925 169.171C337.911 169.171 334.656 172.472 334.656 176.544C334.656 180.616 337.911 183.917 341.925 183.917Z"
              fill="#999999"></path>
            <path
              d="M320.711 73.644C333.409 73.644 343.703 63.2023 343.703 50.322C343.703 37.4416 333.409 27 320.711 27C308.012 27 297.718 37.4416 297.718 50.322C297.718 63.2023 308.012 73.644 320.711 73.644Z"
              fill="#FFFEFA"
              stroke="black"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M342.576 57.548C336.847 49.0255 331.118 40.5088 325.388 31.9863C322.349 37.5796 319.316 43.167 316.277 48.7602C314.482 58.7739 315.673 67.3671 318.264 73.5085C319.072 73.5969 319.886 73.6441 320.717 73.6441C330.926 73.6441 339.578 66.8897 342.576 57.548Z"
              fill="#DD3032"
              stroke="black"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M320.711 73.6438C323.657 73.6438 326.469 73.0662 329.061 72.0289C322.588 60.7598 316.115 49.4849 309.642 38.2158C306.26 45.1941 302.878 52.1666 299.496 59.1449C302.971 67.6615 311.158 73.6438 320.711 73.6438Z"
              fill="#DD3032"
              stroke="black"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M320.711 73.6437C327.666 73.6437 333.895 70.5082 338.114 65.5573C335.499 63.1821 333.244 61.0132 328.456 56.0918C325.051 61.8972 321.652 67.7027 318.247 73.5081C319.055 73.5965 319.88 73.6437 320.711 73.6437Z"
              fill="#DD3032"
              stroke="black"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M355.598 42.3218L355.486 43.3778L355.47 43.6658V53.3138V53.6018L355.582 54.6738H353.406L353.518 53.6018V53.3138V43.6658L353.534 43.3778L353.422 42.3218H355.598ZM362.323 44.2738L360.131 43.9698V44.0178C360.099 45.3458 360.691 46.6418 361.187 47.8738C361.731 49.1698 362.307 50.5618 362.307 52.0818C362.307 52.7858 362.179 53.8578 361.571 54.6738H357.363C357.635 53.8578 357.747 53.4898 357.843 52.7858L360.259 52.9778C360.339 52.7698 360.371 52.5298 360.371 52.2898C360.371 50.2258 359.139 48.3858 358.515 46.4818C358.291 45.8258 358.147 45.1538 358.147 44.4658C358.147 43.7458 358.403 43.0738 358.915 42.3378H362.947C362.595 43.1858 362.467 43.5538 362.323 44.2738ZM370.223 42.3218L370.095 44.0018L367.887 44.0178V53.6178L367.983 54.6738H365.807L365.919 53.6018V53.3138V44.0018H363.711L363.583 42.3218H370.223ZM373.535 42.3218L373.423 43.3778L373.407 43.6658V53.3138V53.6018L373.519 54.6738H371.343L371.455 53.6018V53.3138V43.6658L371.471 43.3778L371.359 42.3218H373.535ZM378.597 43.9538L377.893 43.9378C377.941 45.3618 377.941 47.7298 377.941 47.7298L377.925 52.9458H380.229C380.613 51.0418 380.741 49.2338 380.741 47.3938C380.741 46.0338 380.725 43.9698 378.597 43.9538ZM382.245 52.9298C381.637 53.4258 381.061 53.9858 380.613 54.6738H375.941V43.4898L377.397 42.3378H380.293C381.797 43.3778 382.725 44.3378 382.725 46.8018C382.725 48.7858 382.501 50.8338 382.245 52.9298Z"
              fill="black"></path>
            <path
              d="M301.781 89.5864V86.0464H300.031C300.021 87.1464 300.021 89.0764 300.021 89.6264C300.021 89.6264 299.021 89.5964 298.781 89.5864V81.8064L300.011 81.9264C300.031 83.8064 300.031 84.6264 300.031 84.9964H301.781V81.7964L302.991 81.9364C303.021 84.7164 303.011 85.2664 303.011 85.2664C303.011 85.4364 303.021 88.9564 303.021 89.6264C303.021 89.6264 302.011 89.6064 301.781 89.5864ZM306.161 85.3764C306.161 85.3764 306.151 86.1564 306.151 90.7264L305.631 91.3964L303.621 91.5764C303.851 90.7864 303.851 90.7264 303.851 90.7264L303.881 90.8064C303.881 90.8064 303.801 90.4664 305.031 90.5064V86.8964C305.031 86.5164 304.991 84.2464 304.961 83.4364L306.181 83.5564C306.161 84.4164 306.161 85.3764 306.161 85.3764ZM306.141 83.2164L304.961 83.0664V81.6864L306.141 81.8264V83.2164ZM309.718 85.8864V85.6664C309.718 85.0864 309.528 84.5264 308.978 84.4464C308.758 85.0364 308.688 85.8364 308.648 86.4664C308.968 86.2864 309.398 86.0664 309.718 85.8864ZM310.878 85.6664C310.878 85.6664 310.878 85.6664 310.878 85.6764V85.6964V85.7564L310.868 85.9464V86.2464L308.638 87.3964C308.658 87.7264 308.718 88.2164 308.808 88.4964L309.138 88.7164H309.488C309.578 88.3264 309.648 88.0264 309.698 87.5964L310.838 87.5764C310.748 88.1764 310.718 88.4564 310.628 88.7564C310.328 88.9964 310.038 89.2664 309.818 89.6164H308.788C307.738 89.6164 307.468 87.5564 307.468 86.8364C307.468 86.5264 307.658 84.7064 307.918 84.2964C308.088 84.2064 308.628 83.9164 308.668 83.5864H309.628C310.358 84.0764 310.848 84.5364 310.878 85.6664ZM313.038 86.3564H313.078C313.168 85.9864 313.468 84.9064 313.488 84.8664C313.558 84.7264 313.458 84.8864 313.608 84.5864C313.778 84.2664 313.968 83.9464 314.098 83.8464C314.278 83.6964 314.448 83.5664 314.798 83.5664C314.798 83.5664 315.028 83.8164 315.168 83.9564C315.308 84.0964 315.588 84.2964 315.588 84.2964C315.668 84.6464 315.688 84.7964 315.698 84.8864C315.718 84.9964 315.708 85.0364 315.708 85.1064L315.638 86.2464L315.678 86.2564C315.698 86.0564 315.788 85.6664 315.868 85.3764C315.938 85.1364 316.098 84.7464 316.098 84.6864C316.298 84.2764 316.508 83.9364 316.608 83.8464C316.748 83.7264 316.928 83.5664 317.308 83.5664C317.308 83.5664 317.538 83.8164 317.678 83.9564C317.818 84.0964 318.098 84.2964 318.098 84.2964C318.238 84.9164 318.258 85.5564 318.258 86.0964L318.268 86.9464C318.268 86.9464 318.238 87.8864 318.318 89.6264C318.318 89.6264 317.828 89.5364 317.248 89.7264C317.248 89.7264 317.158 89.1164 317.148 87.0364L317.138 85.9964C317.138 85.5364 317.108 85.2264 317.048 84.9564C316.518 85.8064 316.078 86.7564 315.868 87.6764C315.828 87.8564 315.808 88.0264 315.788 88.1964C315.778 88.3664 315.778 88.5264 315.768 88.6964C315.768 88.9364 315.778 89.1064 315.798 89.6264C315.798 89.6264 315.318 89.5364 314.738 89.7264C314.738 89.7264 314.648 89.1164 314.638 87.0364L314.628 85.9964C314.618 85.5364 314.588 85.2264 314.538 84.9564C314.008 85.8064 313.568 86.7564 313.358 87.6764C313.258 88.0764 313.238 88.4664 313.228 88.8264L313.198 89.6764L312.138 89.5864V84.0564L312.158 83.9364L312.178 83.8364C312.188 83.7764 312.308 83.5864 313.258 83.3864C313.228 83.9164 313.228 84.2264 313.228 84.2264C313.228 84.2264 313.188 85.1264 313.038 86.3564ZM320.538 86.3564H320.578C320.668 85.9864 320.968 84.9064 320.988 84.8664C321.058 84.7264 320.958 84.8864 321.108 84.5864C321.278 84.2664 321.468 83.9464 321.598 83.8464C321.778 83.6964 321.948 83.5664 322.298 83.5664C322.298 83.5664 322.528 83.8164 322.668 83.9564C322.808 84.0964 323.088 84.2964 323.088 84.2964C323.168 84.6464 323.188 84.7964 323.198 84.8864C323.218 84.9964 323.208 85.0364 323.208 85.1064L323.138 86.2464L323.178 86.2564C323.198 86.0564 323.288 85.6664 323.368 85.3764C323.438 85.1364 323.598 84.7464 323.598 84.6864C323.798 84.2764 324.008 83.9364 324.108 83.8464C324.248 83.7264 324.428 83.5664 324.808 83.5664C324.808 83.5664 325.038 83.8164 325.178 83.9564C325.318 84.0964 325.598 84.2964 325.598 84.2964C325.738 84.9164 325.758 85.5564 325.758 86.0964L325.768 86.9464C325.768 86.9464 325.738 87.8864 325.818 89.6264C325.818 89.6264 325.328 89.5364 324.748 89.7264C324.748 89.7264 324.658 89.1164 324.648 87.0364L324.638 85.9964C324.638 85.5364 324.608 85.2264 324.548 84.9564C324.018 85.8064 323.578 86.7564 323.368 87.6764C323.328 87.8564 323.308 88.0264 323.288 88.1964C323.278 88.3664 323.278 88.5264 323.268 88.6964C323.268 88.9364 323.278 89.1064 323.298 89.6264C323.298 89.6264 322.818 89.5364 322.238 89.7264C322.238 89.7264 322.148 89.1164 322.138 87.0364L322.128 85.9964C322.118 85.5364 322.088 85.2264 322.038 84.9564C321.508 85.8064 321.068 86.7564 320.858 87.6764C320.758 88.0764 320.738 88.4664 320.728 88.8264L320.698 89.6764L319.638 89.5864V84.0564L319.658 83.9364L319.678 83.8364C319.688 83.7764 319.808 83.5864 320.758 83.3864C320.728 83.9164 320.728 84.2264 320.728 84.2264C320.728 84.2264 320.688 85.1264 320.538 86.3564ZM329.268 85.8864V85.6664C329.268 85.0864 329.078 84.5264 328.528 84.4464C328.308 85.0364 328.238 85.8364 328.198 86.4664C328.518 86.2864 328.948 86.0664 329.268 85.8864ZM330.428 85.6664C330.428 85.6664 330.428 85.6664 330.428 85.6764V85.6964V85.7564L330.418 85.9464V86.2464L328.188 87.3964C328.208 87.7264 328.268 88.2164 328.358 88.4964L328.688 88.7164H329.038C329.128 88.3264 329.198 88.0264 329.248 87.5964L330.388 87.5764C330.298 88.1764 330.268 88.4564 330.178 88.7564C329.878 88.9964 329.588 89.2664 329.368 89.6164H328.338C327.288 89.6164 327.018 87.5564 327.018 86.8364C327.018 86.5264 327.208 84.7064 327.468 84.2964C327.638 84.2064 328.178 83.9164 328.218 83.5864H329.178C329.908 84.0764 330.398 84.5364 330.428 85.6664ZM333.479 88.9564L332.969 89.8364C331.969 89.5064 331.679 88.9864 331.679 88.9864V81.5864L332.819 81.7164C332.849 84.4864 332.859 85.2564 332.859 85.2564C332.859 85.2564 332.839 85.8864 332.849 88.5864C332.899 88.6664 333.229 88.8364 333.479 88.9564ZM336.868 84.5764L336.188 84.5664C335.838 85.1264 335.568 86.5464 335.568 87.2564C335.568 87.5464 335.588 87.8464 335.678 88.1264C335.888 87.6464 336.098 87.1764 336.328 86.7164C336.428 86.4964 336.568 86.2764 336.658 86.0564C336.828 85.6564 336.848 85.0064 336.868 84.5764ZM337.958 87.2064C337.958 88.0464 337.978 88.8164 338.018 89.6564C337.918 89.6364 337.818 89.6364 337.728 89.6364C337.458 89.6364 337.188 89.6764 336.928 89.7664C336.908 89.2764 336.868 88.9464 336.868 88.4664C336.868 88.0764 336.948 87.4564 337.008 87.0564L336.958 87.0664C336.688 87.9164 336.348 88.7964 335.978 89.6164H335.228C334.608 89.0464 334.488 88.0964 334.488 87.2964C334.488 86.2164 334.778 84.9964 335.318 84.0564C335.548 83.9764 335.878 83.7364 336.068 83.5864H338.118C338.028 83.8764 337.978 84.1864 337.978 84.4864C337.968 85.3864 337.958 86.2964 337.958 87.2064ZM341.361 89.3564C341.171 89.5064 341.001 89.6364 340.751 89.6364C340.731 89.6364 340.701 89.6364 340.671 89.6264C340.571 89.6264 340.501 89.5764 340.461 89.5264C340.331 89.3464 340.231 89.2364 340.151 89.1464C340.061 89.0564 339.991 88.9864 339.901 88.9064C339.631 88.3964 339.511 87.6664 339.501 87.1064C339.501 86.6364 339.461 84.8764 339.491 84.5064C339.481 84.2664 339.471 84.0064 339.451 83.4964C339.451 83.4964 339.931 83.5864 340.521 83.3964C340.521 83.3964 340.601 84.0864 340.621 86.1664L340.631 87.2064C340.631 87.7064 340.731 88.1964 340.851 88.4464C341.361 87.5864 341.671 86.4964 341.901 85.5364C341.991 85.1364 342.011 84.7464 342.021 84.3864L342.061 83.4464L343.101 83.6364C343.271 87.0264 341.661 89.1064 341.361 89.3564ZM346.554 85.8864V85.6664C346.554 85.0864 346.364 84.5264 345.814 84.4464C345.594 85.0364 345.524 85.8364 345.484 86.4664C345.804 86.2864 346.234 86.0664 346.554 85.8864ZM347.714 85.6664C347.714 85.6664 347.714 85.6664 347.714 85.6764V85.6964V85.7564L347.704 85.9464V86.2464L345.474 87.3964C345.494 87.7264 345.554 88.2164 345.644 88.4964L345.974 88.7164H346.324C346.414 88.3264 346.484 88.0264 346.534 87.5964L347.674 87.5764C347.584 88.1764 347.554 88.4564 347.464 88.7564C347.164 88.9964 346.874 89.2664 346.654 89.6164H345.624C344.574 89.6164 344.304 87.5564 344.304 86.8364C344.304 86.5264 344.494 84.7064 344.754 84.2964C344.924 84.2064 345.464 83.9164 345.504 83.5864H346.464C347.194 84.0764 347.684 84.5364 347.714 85.6664ZM351.704 83.5864L351.424 84.5764L350.654 84.5664V88.6164C350.704 88.6964 351.034 88.8664 351.274 88.9864L350.774 89.8564C349.754 89.5264 349.534 89.0064 349.534 89.0064V84.5664L348.674 84.5264C348.674 84.5264 348.684 84.0964 348.934 83.5864H349.544L349.524 82.0764L350.654 82.2364V83.5864H351.704ZM355.732 83.9064L355.762 83.8364C355.802 83.6064 356.682 83.4164 356.842 83.3864C356.822 83.6664 356.812 83.9464 356.812 84.2264C356.812 84.4664 356.802 84.7264 356.792 84.9564C356.782 85.2364 356.702 85.7364 356.662 86.1764H356.702C356.742 85.9764 357.082 85.0264 357.152 84.8464C357.272 84.5364 357.612 83.9064 357.662 83.8564C357.872 83.6464 358.092 83.5664 358.382 83.5664C358.632 83.8364 358.882 84.0764 359.172 84.2964C359.402 85.2664 359.332 86.5064 359.332 87.4964C359.332 88.2364 359.352 88.8764 359.382 89.6164C359.292 89.5964 359.182 89.5964 359.092 89.5964C358.832 89.5964 358.562 89.6364 358.302 89.7164C358.222 88.8464 358.222 87.9264 358.222 87.0364C358.212 86.4064 358.262 85.5964 358.122 84.9564C357.612 85.7764 357.162 86.7264 356.942 87.6764C356.782 88.3464 356.802 88.9764 356.782 89.6664L355.722 89.5664V84.0564C355.722 83.9864 355.722 83.9864 355.732 83.9064ZM362.493 88.9464L361.983 89.8264C360.983 89.5064 360.693 88.9864 360.693 88.9864V83.5264L361.833 83.6564C361.833 84.2964 361.873 86.4664 361.873 86.4664C361.873 86.4664 361.863 87.0264 361.863 88.5864C361.913 88.6664 362.243 88.8364 362.493 88.9464ZM361.873 83.1964L360.703 83.0564V81.6864L361.873 81.8264V83.1964ZM366.411 83.5864L366.131 84.5764L365.361 84.5664V88.6164C365.411 88.6964 365.741 88.8664 365.981 88.9864L365.481 89.8564C364.461 89.5264 364.241 89.0064 364.241 89.0064V84.5664L363.381 84.5264C363.381 84.5264 363.391 84.0964 363.641 83.5864H364.251L364.231 82.0764L365.361 82.2364V83.5864H366.411ZM368.479 85.6264L368.529 85.6464C368.569 85.4364 368.719 84.8164 368.799 84.6264C368.979 84.1464 369.189 83.5664 369.799 83.5664C369.999 83.5664 370.359 83.7264 370.549 83.7964C370.479 84.1764 370.389 84.5564 370.289 84.9364C370.119 84.8564 369.949 84.7864 369.779 84.7164C369.289 85.4664 368.999 86.2564 368.739 87.1164C368.609 87.5464 368.609 89.1364 368.599 89.6064L367.529 89.5964V84.0564C367.529 83.9864 367.559 83.8764 367.579 83.8064V83.8364C367.619 83.6064 368.489 83.4164 368.659 83.3864C368.639 83.6664 368.639 83.9664 368.619 84.2464C368.589 84.6864 368.539 85.1164 368.479 85.6264ZM372.552 84.4464C372.332 85.2564 372.202 86.1764 372.202 87.0064C372.202 87.4364 372.252 88.0864 372.382 88.4964L372.712 88.7164H373.062C373.232 87.8764 373.302 86.9264 373.302 86.0764C373.302 85.4664 373.292 84.5564 372.552 84.4464ZM374.212 88.7464C373.902 88.9964 373.612 89.2664 373.392 89.6164H372.362C371.312 89.6164 371.042 87.5564 371.042 86.8364C371.042 86.5264 371.232 84.7064 371.492 84.2964C371.662 84.2064 372.202 83.9164 372.242 83.5864H373.202C373.962 84.0964 374.452 84.5764 374.452 85.7964C374.452 86.7464 374.342 87.7264 374.212 88.7464ZM377.913 84.5764H377.363C376.903 85.2364 376.613 86.4964 376.613 87.3164C376.613 87.6064 376.633 87.9364 376.723 88.2064C376.873 87.8964 377.033 87.5764 377.193 87.2464C377.403 86.7964 377.613 86.3464 377.753 85.8864C377.883 85.4564 377.893 85.0164 377.913 84.5764ZM378.923 85.0764V90.9864C378.633 91.4564 378.363 91.6064 377.873 91.6064C377.193 91.6064 376.473 91.5364 375.603 91.1564L376.163 90.4164C376.803 90.5064 377.313 90.6064 377.853 90.6564V88.9264C377.853 88.8464 377.963 87.8264 378.023 87.3164L377.993 87.3064C377.903 87.6664 377.533 88.5364 377.493 88.6364L377.123 89.6064H376.273C375.603 88.9864 375.533 88.0164 375.533 87.3664C375.533 86.3264 375.923 85.0364 376.463 84.0764C376.723 83.9764 377.003 83.7564 377.213 83.5864H379.013C378.953 84.2164 378.923 84.6564 378.923 85.0764ZM382.54 85.8864V85.6664C382.54 85.0864 382.35 84.5264 381.8 84.4464C381.58 85.0364 381.51 85.8364 381.47 86.4664C381.79 86.2864 382.22 86.0664 382.54 85.8864ZM383.7 85.6664C383.7 85.6664 383.7 85.6664 383.7 85.6764V85.6964V85.7564L383.69 85.9464V86.2464L381.46 87.3964C381.48 87.7264 381.54 88.2164 381.63 88.4964L381.96 88.7164H382.31C382.4 88.3264 382.47 88.0264 382.52 87.5964L383.66 87.5764C383.57 88.1764 383.54 88.4564 383.45 88.7564C383.15 88.9964 382.86 89.2664 382.64 89.6164H381.61C380.56 89.6164 380.29 87.5564 380.29 86.8364C380.29 86.5264 380.48 84.7064 380.74 84.2964C380.91 84.2064 381.45 83.9164 381.49 83.5864H382.45C383.18 84.0764 383.67 84.5364 383.7 85.6664ZM384.971 83.9064L385.001 83.8364C385.041 83.6064 385.921 83.4164 386.081 83.3864C386.061 83.6664 386.051 83.9464 386.051 84.2264C386.051 84.4664 386.041 84.7264 386.031 84.9564C386.021 85.2364 385.941 85.7364 385.901 86.1764H385.941C385.981 85.9764 386.321 85.0264 386.391 84.8464C386.511 84.5364 386.851 83.9064 386.901 83.8564C387.111 83.6464 387.331 83.5664 387.621 83.5664C387.871 83.8364 388.121 84.0764 388.411 84.2964C388.641 85.2664 388.571 86.5064 388.571 87.4964C388.571 88.2364 388.591 88.8764 388.621 89.6164C388.531 89.5964 388.421 89.5964 388.331 89.5964C388.071 89.5964 387.801 89.6364 387.541 89.7164C387.461 88.8464 387.461 87.9264 387.461 87.0364C387.451 86.4064 387.501 85.5964 387.361 84.9564C386.851 85.7764 386.401 86.7264 386.181 87.6764C386.021 88.3464 386.041 88.9764 386.021 89.6664L384.961 89.5664V84.0564C384.961 83.9864 384.961 83.9864 384.971 83.9064ZM394.632 88.9464L394.122 89.8264C393.122 89.5064 392.832 88.9864 392.832 88.9864V83.5264L393.972 83.6564C393.972 84.2964 394.012 86.4664 394.012 86.4664C394.012 86.4664 394.002 87.0264 394.002 88.5864C394.052 88.6664 394.382 88.8364 394.632 88.9464ZM394.012 83.1964L392.842 83.0564V81.6864L394.012 81.8264V83.1964ZM398.06 84.6964L396.97 84.5564C396.98 84.8164 397.04 85.0764 397.13 85.3464C397.23 85.6464 397.36 85.9464 397.5 86.2564C397.77 86.8764 398.06 87.5564 398.06 88.2864C398.06 88.6164 397.98 89.2164 397.65 89.6064H395.42C395.59 89.1364 395.66 88.9164 395.69 88.5164L396.94 88.6164C396.96 88.5464 396.96 88.4664 396.96 88.3864C396.96 87.7664 396.7 87.1764 396.42 86.5664C396.15 85.9764 395.84 85.3364 395.84 84.6764C395.84 84.3064 395.99 83.9664 396.27 83.5864H398.43C398.21 84.0664 398.12 84.2964 398.06 84.6964Z"
              fill="black"></path>
            <path
              d="M15.6713 152.339C15.2645 152.569 14.4917 152.993 13.7131 153.406C7.94317 156.459 6.36268 156.135 4.76476 157.897C2.89375 159.966 2.16742 163.62 3.56778 165.789C4.53815 167.286 6.2639 167.669 9.00651 168.235C11.0867 168.665 13.196 169.113 17.1297 168.553"
              stroke="black"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M71.0869 82.066C83.9109 67.2724 97.2637 51.86 110.082 37.0605"
              stroke="black"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M468.074 142.778C468.26 143.173 468.585 143.768 469.149 144.34C470.555 145.755 471.81 145.378 472.972 146.48C474.018 147.47 474.157 148.861 474.314 150.493C474.419 151.519 474.698 154.348 473.361 155.144C473.042 155.332 472.966 155.208 470.84 155.144C468.876 155.085 467.928 155.155 467.702 155.173C466.772 155.25 466.023 155.391 465.546 155.497"
              stroke="black"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M392.664 167.763C387.748 167.397 385.877 167.468 380.967 167.102C381.159 164.987 381.228 161.751 380.374 157.979C379.968 156.175 377.289 145.083 367.957 140.268C366.208 139.366 363.954 138.912 359.526 138.052C351.769 136.537 345.824 135.382 338.253 135.718C330.973 136.042 324.337 136.342 317.399 140.71C315.017 142.213 309.212 145.979 306.028 153.541C304.104 158.114 303.895 162.275 303.965 164.768C299.81 166.389 295.661 168.01 291.507 169.631"
              stroke="black"
              stroke-width="2"
              stroke-miterlimit="10"></path>
          </g>
          <defs>
            <clipPath id="clip0_521_1333">
              <rect width="475" height="205" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
    </section>
    <section class="relative p-M">
      <Image
        src={frabutik}
        alt="Billede af en person der scooper is."
        class="w-full h-auto md:w-full md:h-[650px] object-cover"
        loading="lazy"
      />

      <div
        class="absolute bottom-[-40px] right-[20px] bg-gul-400 rounded-[600px] w-60 h-60 flex items-center justify-center text-center px-[40px] py-[65px] md:px-[40px] md:py-[110px]"
      >
        <p class="text-rod-500 pstor_mobil md:pstor">
          <span class="font-bold">Is er noget</span><br />
          <span class="font-bold">vidunderligt</span>
           og det <br />
           fortjener en <br />fremtid, ikke kun <br />
           en fortid
        </p>
      </div>
    </section>
    <section class="p-M">
      <h2 class="h2_mobil md:h2 text-blaa-700 pb-XS">
        fremtidens is - hvem er istid
      </h2>
      <div class="md:grid grid-cols-2 gap-M md:py-S">
        <p class="md:p p_mobil text-blaa-900 pb-XS">
          Hos Istid skaber vi fremtidens is – ikke bare med flydende nitrogen,
          men med nysgerrighed, kvalitet og omtanke. Is er noget magisk. Det
          vækker minder om barndom, frihed og varme somre, men for os handler
          det ikke om at kigge tilbage.
        </p>
        <p class="md:p p_mobil text-blaa-900">
          Vi tager følelsen med os og gentænker isen i en ny tid. Vi vælger
          økologi og bæredygtighed frem for nostalgi, innovation frem for
          tradition, og skaber en isoplevelse, der både overrasker og gør godt.
          For os er is ikke bare en dessert – det er en oplevelse i nuet, skabt
          til at deles.
        </p>
      </div>
    </section>
    <section class="bg-gron-400 md:grid grid-cols-2 p-M">
      <div class="text-center md:text-left md:pt-XL">
        <h2 class="h2_mobil md:h2 text-gron-800">høj kvalitet</h2>
        <p class="pstor_mobil md:pstor text-gron-800 pb-S">
          Spørg bare, så fortæller vi dig det. Vi er stolte af at kunne fortælle
          vores kunder præcis, hvad der er i vores is. Vi ved det – for alt er
          lavet af os selv med de bedste økologiske råvarer og helt uden
          tilsætningsstoffer.
        </p>
      </div>
      <div>
        <Image
          src={hojkvalitet}
          alt="Billede af en person der scooper is."
          class="h-[300px] w-[300px] rounded-[300px] md:h-[500px] md:w-[500px] m-auto"
          loading="lazy"
        />
      </div>
    </section>
    <section class="bg-gul-400 p-M">
      <div
        class="flex flex-col-reverse md:flex-row items-center md:items-start gap-4"
      >
        <!-- Billede til venstre på md: -->
        <div class="md:w-1/2">
          <Image
            src={smag}
            alt="Billede af en person der scooper is."
            class="h-[300px] w-[300px] md:h-[500px] md:w-[500px] rounded-[300px] m-auto md:m-0"
            loading="lazy"
          />
        </div>

        <!-- Tekst til højre på md: -->
        <div class="text-center md:text-right md:pt-XL md:w-1/2">
          <h2 class="h2_mobil md:h2 text-gron-800">Overraskende smage</h2>
          <p class="pstor_mobil md:pstor text-gron-800 pb-S">
            Vi elsker at skabe nye smage, kombinationer og teksturer. Nogle
            bliver kasseret, mens andre er ren himmel – og det er dem, der ender
            på menuen. At udforske og udvikle smage er det, der holder os
            relevante, nysgerrige og spændende.
          </p>
        </div>
      </div>
    </section>
    <section class="bg-blaa-200 p-M md:grid grid-cols-2">
      <div class="text-center md:text-left md:pt-XL">
        <h2 class="h2_mobil md:h2 text-gron-800">Oplevelse</h2>
        <p class="pstor_mobil md:pstor text-gron-800 pb-S">
          ISTID er ikke kun is – det er en oplevelse.Høj personlig service, en
          menu med innovative smage og kombinationer, ærlighed om ingredienser
          og opskrifter – og oplevelsen af at se isen blive frosset med flydende
          nitrogen. Alt dette er med til at gøre ISTID til en helt unik
          oplevelse for hver eneste kunde.
        </p>
      </div>
      <div>
        <Image
          src={oplevelse}
          alt="Billede af en person der scooper is."
          class="h-[300px] w-[300px] md:h-[500px] md:w-[500px] rounded-[300px] m-auto"
          loading="lazy"
        />
      </div>
    </section>
    <section class="md:grid grid-cols-2">
      <div class="p-M md:pt-L">
        <h2 class="h2_mobil md:h2 text-gul-800 pb-XS">Sæsonens is</h2>
        <p class="pstor_mobil md:pstor pb-XS">
          Hver sæson bringer nye smagsoplevelser – altid økologiske, altid
          friskfrosne med flydende nitrogen, og altid med fokus på kvalitet og
          nysgerrighed.
        </p>
        <p class="pstor_mobil md:pstor pb-XS">
          Kom forbi vores butik og se hvad sæsonen bringer af gode varianter.
        </p>
        <Button_S_Gul>Se vores smage her</Button_S_Gul>
      </div>
      <div>
        <Image
          src={saesonis}
          alt="Billede af en person der scooper is."
          class="h-[550px] w-[600px] md:w-full md:h-[600px] object-cover"
          loading="lazy"
        />
      </div>
    </section>
    <section class="bg-rod-50 p-M">
      <div>
        <h2 class="h2_mobil md:h2 text-rod-500 pb-XS">Nyhedsbrev tilmelding</h2>
        <p class="text-rod-900 pstor_mobil md:pstor pb-XS">
          Tilfmeld dig vores nyhedsbrev og vær den første til at <br /> høre om
          sæsonens is, nye smagsvarianter og åbninbgstider
        </p>
      </div>
      <div>
        <form class="flex gap-S">
          <input
            type="email"
            placeholder="Din e-mail"
            class="border border-rod-500 rounded-medium bg-transparent p-XXS text-rod-600 placeholder-rod-600 uppercase bg-none w-[250px] md:w-[500px]"
            required
          />
          <button
            type="submit"
            class="border border-rod-500 text-rod-600 p-XXS rounded-medium"
          >
            TILMELD NU
          </button>
        </form>
      </div>
    </section>
  </article>
</MainLayout>
