---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import vanilje from "../assets/images/vanilje.webp";
import salty from "../assets/images/salty.webp";
import choko from "../assets/images/choko.webp";
import is1 from "../assets/images/is1.webp";
import is2 from "../assets/images/is2.webp";
import is3 from "../assets/images/is3.webp";
import is4 from "../assets/images/is4.webp";
import is5 from "../assets/images/is5.webp";
import is6 from "../assets/images/is6.webp";
import is7 from "../assets/images/is7.webp";
import data from "../assets/images/data.svg";
import gallery2 from "../assets/images/gallery2.webp";
---

<MainLayout title="VORES IS" page="is">
  <article class="">
    <section class="p-M md:p-L text-center bg-rod-50">
      <h1 class="h1_mobil md:h1 text-rod-500">vores smage</h1>
      <p class="pstor_mobil md:pstor text-rod-500 md:px-M">
        Frisklavet is med flydende nitrogen – cremet, økologisk og uden
        tilsætningsstoffer. Menuen byder altid på fem varianter, heraf sæsonens
        smage og mindst én vegansk mulighed.
      </p>
    </section>
    <section>
      <div class="bg-blaa-100 py-M px-M md:m-L md:relative">
        <h2
          class="h2_mobil md:h2 text-blaa-600 text-left md:text-left pb-XS md:pt-M"
        >
          Hvad gør Istids is helt unik?
        </h2>
        <div id="tekst1">
          <p
            class="p_mobil md:p text-blaa-900 text-left md:text-left pb-XS md:max-w-[900px]"
          >
            Istid laver is på en anderledes måde: med flydende nitrogen, som
            lynfryser isen ved minus 196 grader – direkte foran kunden. Det
            betyder, at isen altid er frisklavet, og butikken har slet ingen
            frysere.
          </p>

          <p
            class="p_mobil md:p text-blaa-900 text-left md:text-left pb-M md:max-w-[800px]"
          >
            Den hurtige frysning giver en særlig cremet konsistens, fordi
            iskrystaller ikke når at danne sig. Samtidig kan man bruge mindre
            sukker og undgå tilsætningsstoffer, da isen ikke skal holde sig i
            lang tid. Alt laves fra bunden med økologiske råvarer – for en ren,
            naturlig og helt unik isoplevelse. <br />Isen serveres i vores
            hjemmelavede kardemommevaffel eller i bæger – i tre størrelser. Hos
            os vælger du én smag ad gangen – så får du den fulde oplevelse.
          </p>
        </div>
        <div>
          <Image
            src={gallery2}
            alt="billede af is"
            class="w-[300px] mx-auto mt-4 md:w-[500px] md:absolute top-[200px] left-[980px] rounded-[300px] md:mb-XL"
            loading="lazy"
          />
        </div>
      </div>
    </section>
    <section class="bg-gul-400 md:mt-XL">
      <div class="p-M md:p-L md:px-L">
        <h2 class="h2_mobil md:h2 text-gul-900 pb-XS">
          vores tre faste favoritter
        </h2>
        <p class="p_mobil md:p text-gul-900 pb-L">
          Blandt vores fem varianter finder du altid tre faste favoritter, som
          har fået en særlig plads i hjertet hos vores gæster. De er nøje
          udvalgt for deres smag, balance og evne til at begejstre – igen og
          igen.
        </p>
      </div>
      <section class="relative pt-M">
        <div class="pstor_mobil md:pstor text-gul-900">
          <div class="bg-gul-100 p-M pt-L mb-XL">
            <p class="md:ml-[500px] pb-XS">
              <span class="font-bold">Classic Vanilla</span> er en af vores
              faste favoritter – enkel, cremet og fyldt med smag.
            </p>
            <p class="md:ml-[500px] pb-XS">
              Du kan toppe den med hjemmelavede saucer og knas og forvandle den
              til en lækker sundae.
            </p>
            <p class="md:ml-[500px] pb-XS">
              Kig forbi butikken og smag selv. Det er en af vores standard
              isvarianter.
            </p>
          </div>
        </div>

        <div>
          <Image
            src={vanilje}
            alt="Billede af en person der scooper is."
            class="absolute w-[300px] h-[300px] md:w-[400px] md:h-[400px] rounded-[400px] z-20 border-[30px] border-gul-100 top-[10px] left-1/2 -translate-x-1/2 -translate-y-1/2 md:top-[100px] md:left-[302px] md:translate-x-0 md:translate-y-0 md:bottom-[50px] md:left-[90px]"
            loading="lazy"
          />
        </div>
        <div>
          <p
            class="text-center absolute bottom-[320px] left-1/2 md:left-[300px] md:bottom-[160px] transform -translate-x-1/2 z-20 pstor_mobil md:pstor text-rod-500 font-bold"
          >
            CLASSIC <br />VANILLA
          </p>
        </div>
      </section>
      <section class="relative pt-M">
        <div class="pstor_mobil md:pstor text-gul-900 mb-XL">
          <div class="bg-gul-100 p-M pt-L">
            <p class="md:ml-[500px] pb-XS">
              <span class="font-bold">SALTY CARAMEL</span> er en af vores
              populære standardvarianter – balancen mellem sødt og salt gør den
              uimodståelig.
            </p>
            <p class="md:ml-[500px] pb-XS">
              Gør den ekstra lækker med dine foretrukne toppings og lav din egen
              sundae.
            </p>
            <p class="md:ml-[500px] pb-XS">Kom forbi og oplev den hos os.</p>
          </div>
        </div>

        <div>
          <Image
            src={salty}
            alt="Billede af en person der scooper is."
            class="absolute w-[300px] h-[300px] md:w-[400px] md:h-[400px] rounded-[400px] z-20 border-[30px] border-gul-100 top-[10px] left-1/2 -translate-x-1/2 -translate-y-1/2 md:top-[100px] md:left-[302px] md:translate-x-0 md:translate-y-0 md:bottom-[50px] md:left-[90px]"
            loading="lazy"
          />
        </div>
        <div>
          <p
            class="text-center absolute bottom-[300px] left-1/2 md:left-[300px] md:bottom-[180px] transform -translate-x-1/2 z-20 pstor_mobil md:pstor text-rod-500 font-bold"
          >
            SALTY <br />CARAMEL
          </p>
        </div>
      </section>
      <section class="relative pt-M">
        <div class="pstor_mobil md:pstor text-gul-900">
          <div class="bg-gul-100 p-M pt-L">
            <p class="md:ml-[500px] pb-XS">
              <span class="font-bold">CHOCOLATE SORBET</span> er en fast del af
              vores sortiment – intens i smagen, helt uden mælk og stadig
              fantastisk cremet.
            </p>
            <p class="md:ml-[500px] pb-XS">
              Den er perfekt som den er eller med et twist af toppings.
            </p>
            <p class="md:ml-[500px] pb-XS">
              Prøv den næste gang du kigger forbi.
            </p>
          </div>
        </div>

        <div>
          <Image
            src={choko}
            alt="Billede af en person der scooper is."
            class="absolute w-[300px] h-[300px] md:w-[400px] md:h-[400px] rounded-[400px] z-20 border-[30px] border-gul-100 top-[10px] left-1/2 -translate-x-1/2 -translate-y-1/2 md:top-[100px] md:left-[302px] md:translate-x-0 md:translate-y-0 md:bottom-[50px] md:left-[90px]"
            loading="lazy"
          />
        </div>
        <div>
          <p
            class="text-center absolute bottom-[270px] left-1/2 md:left-[300px] md:bottom-[180px] transform -translate-x-1/2 z-20 pstor_mobil md:pstor text-rod-500 font-bold"
          >
            CHOCOLATE <br />SORBET
          </p>
        </div>
      </section>
      <div class="bg-gul-400 w-full h-[100px]"></div>
    </section>

    <section class="pb-M">
      <div class="p-M md:p-M md:px-L md:pt-L">
        <h2 class="h2_mobil md:h2 text-blaa-800 text-center pb-XS">
          Sådan er vores is sammensat
        </h2>
        <p class="pstor_mobil md:pstor text-center text-blaa-900">
          Vi går op i gennemsigtighed – også når det gælder ingredienser. Her
          kan du se den præcise fordeling af, hvad vores is faktisk består af –
          visualiseret i procent. Enkel, ærlig og økologisk hele vejen igennem.
        </p>
      </div>
      <div>
        <Image
          src={data}
          alt="Datavisualisering af indhold i isen"
          class="mr-auto ml-auto md:h-auto w-[1000px] p-S"
          loading="lazy"
        />
      </div>
    </section>
    <section class="grid grid-cols-7 pt-L">
      <div class="">
        <Image
          src={is1}
          alt="Billede af is"
          class="h-[200px] md:h-[300px] object-cover"
          loading="lazy"
        />
      </div>
      <div class="">
        <Image
          src={is2}
          alt="Billede af is"
          class="h-[200px] md:h-[300px] object-cover"
          loading="lazy"
        />
      </div>
      <div class="">
        <Image
          src={is3}
          alt="Billede af is"
          class="h-[200px] md:h-[300px] object-cover"
          loading="lazy"
        />
      </div>
      <div class="">
        <Image
          src={is4}
          alt="Billede af is"
          class="h-[200px] md:h-[300px] object-cover"
          loading="lazy"
        />
      </div>
      <div class="">
        <Image
          src={is5}
          alt="Billede af is"
          class="h-[200px] md:h-[300px] object-cover"
          loading="lazy"
        />
      </div>
      <div class="">
        <Image
          src={is6}
          alt="Billede af is"
          class="h-[200px] md:h-[300px] object-cover"
          loading="lazy"
        />
      </div>
      <div class="">
        <Image
          src={is7}
          alt="Billede af is"
          class="h-[200px] md:h-[300px] object-cover"
          loading="lazy"
        />
      </div>
    </section>
    <section class="bg-gron-200">
      <h3 class="h3_mobil md:h3 text-gron-800 text-center p-M">
        Kom forbi butikken og se hvad månedenS is er
      </h3>
    </section>
  </article>
  <script>
    import { inView } from "motion";

    // <-- inview tekst1 -->
    const tekst1zoomIn = document.querySelector("#tekst1");

    inView(tekst1zoomIn, () => {
      tekst1zoomIn.classList.add("animate__animated", "animate__zoomIn");
    });
  </script>
</MainLayout>
