---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import historie from "/public/historie.webp";
import unikke from "/public/unikke.webp";
import spiseis from "/public/spiseis.webp";
import engangsservice from "/public/engangsservice.webp";
import økovarer from "/public/økoråvarer.webp";
import følgersæson from "/public/følgersæson.webp";
import anniken from "/public/anniken.webp";
import isisolen from "/public/3isisolen.webp";
import børnibutikken from "/public/børnibutikken.webp";
import ispågaden from "/public/ispågaden.webp";
import ibutikken from "/public/ibutikken.webp";
import ispersoner from "../assets/images/istid_personer.webp";
---

<MainLayout title="OM OS" page="omos">
  <section>
    <div class="bg-gul-400 text-center p-M ms:p-L">
      <h1 class="h1_mobil md:h1 text-gul-700">Hvem er istid</h1>
      <p class="pstor_mobil md:pstor text-blaa-900">
        Hos ISTID elsker vi at trylle med flydende nitrogen og økologiske
        råvarer, og invitere dig med på en smagsrejse, hvor videnskab møder
        økologi og skaber magi i hver eneste skefuld.
      </p>
    </div>

    <div class="bg-blaa-100 py-M px-M md:m-L md:relavtive">
      <h2
        class="h2_mobil md:h2 text-blaa-600 text-center md:text-left pb-XS md:pt-M"
      >
        Historien
      </h2>
      <p
        class="p_mobil md:p text-blaa-900 text-center md:text-left pb-M md:max-w-[850px]"
      >
        Istid blev grundlagt i 2014 af Anniken og Nina, drevet af ønsket om at
        skabe en anderledes isoplevelse. Inspireret af flydende nitrogen-is, som
        Anniken først oplevede på en rejse til San Francisco i 2012, besluttede
        de at bringe denne unikke ismetode til Danmark. Fra starten serverede de
        is på festivaler og gader, og i 2015 åbnede de deres første butik. I dag
        er Anniken den eneste ejer og driver virksomheden med fokus på at levere
        en lokal og unik isoplevelse. Istid er ikke kun en butik, men også en
        cateringservice, der tilbyder is til virksomheder og events.
      </p>
      <div>
        <Image
          src={ispersoner}
          alt="billede af anniken og veninde"
          class="w-1/2 mx-auto mt-4 md:w-1/3 md:absolute top-[690px] left-[1050px]"
          loading="lazy"
        />
      </div>
    </div>

    <div class="bg-rod-50 py-M px-M md:m-L md:my-XL md:relative">
      <h2
        class="h2_mobil md:h2 text-rod-500 text-center md:text-right md:pt-M pb-XS"
      >
        Hvad der gør os unikke
      </h2>
      <p
        class="p_mobil md:p text-blaa-900 text-center md:text-right pb-M md:max-w-[850px] md:ml-auto"
      >
        Vi er de eneste i Danmark, der fryser vores is med flydende nitrogen –
        direkte foran dig. Det betyder, at vi kan lave frisk is på få sekunder,
        hvilket giver en helt særlig, cremet konsistens, du ikke finder andre
        steder. Samtidig bruger vi økologiske råvarer og mindre sukker end
        traditionel is, uden at gå på kompromis med smagen. Hos ISTID handler
        det om rene ingredienser, ægte smagsoplevelser og en is, der både føles
        lettere og smager friskere.
      </p>
      <img
        src="/public/unikke.webp"
        alt="billede af event"
        class="w-1/2 mx-auto mt-4 md:w-1/3 md:absolute top-[100px] left-[-50px]"
      />
    </div>

    <div class="bg-gron-300 grid md:grid-cols-2">
      <div class="py-M px-M">
        <h2 class="h2_mobil md:h2 text-gron-800 pb-XS md:pt-L">
          I gør os til dem vi er
        </h2>
        <p class="pb-S p_mobil md:p">
          Vi går højt op i at skabe en nærværende og personlig oplevelse, hver
          gang du besøger os. For os handler det ikke bare om at servere is, men
          om at lære vores gæster at kende – vi vil kunne huske vores stamkunder
          og deres yndlingssmage.
        </p>
        <p class="p_mobil md:p">
          Vi tror på, at det er de små detaljer og den ægte kontakt, der gør
          oplevelsen hos ISTID noget særligt. Når du træder ind hos os, skal det
          føles som mere end et køb – det skal føles som et besøg hos nogen, der
          glæder sig til at se dig igen.
        </p>
      </div>
      <div>
        <Image
          src={spiseis}
          alt="Anniken og barn spiser is"
          class="w-full max-w-md md:max-w-full mx-auto md:h-[800px] object-cover"
        />
      </div>
    </div>

    <div class="bg-gul-400 px-M py-L">
      <div class="flex flex-col items-center justify-center text-center">
        <h2 class="h2_mobil md:h2 text-blaa-600 pb-XS">
          Vores bæredygtige tiltag
        </h2>
        <p class="p_mobil md:p text-blaa-900 max-w-3xl pb-L md:pb-XL">
          Hos ISTID er vi i evig søgen efter den bedste og mest bæredygtige
          emballage, men det er ikke altid at det er muligt, at finde emballage,
          der både lever op til vores krav om bæredygtighed og vores høje
          standarder for brugervenlighed.
        </p>
      </div>

      <div class="grid md:grid-cols-3 pt-L gap-[250px] md:gap-0 justify-center">
        <div class="relative flex flex-col items-center">
          <div
            class="bg-blaa-100 rounded-[600px] absolute bottom-[160px] md:bottom-[220px] flex flex-col items-center justify-center text-center px-[50px] py-[100px] md:px-[70px] md:py-[100px]"
          >
            <h2 class="h2_mobil text-rod-500 text-center pb-XS">
              engangsservice
            </h2>
            <p class="p_mobil md:p text-blaa-900 text-center max-w-XL">
              Skeer og bægre er lavet af træ og komposterbart bambuspapir
            </p>
          </div>

          <Image
            src={engangsservice}
            alt="billede af engangsservice fra butikken"
            class="justify-center"
          />
        </div>
        <div class="relative flex flex-col items-center">
          <div
            class="absolute bg-blaa-100 rounded-[600px] bottom-[160px] md:bottom-[220px] flex flex-col items-center justify-center text-center px-[50px] py-[100px] md:px-[105px] md:py-[70px]"
          >
            <h2 class="h2_mobil text-rod-500 text-center pb-XS">
              økologiske råvarer
            </h2>
            <p class="p_mobil md:p text-blaa-900 text-center max-w-XL">
              Vi bruger udelukkende økologiske råvarer i vores is
            </p>
          </div>

          <Image
            src={økovarer}
            alt="billede af øko råvarer"
            class="justify-center"
          />
        </div>

        <div class="relative flex flex-col items-center">
          <div
            class="absolute bg-blaa-100 rounded-[500px] bottom-[160px] md:bottom-[220px] flex flex-col items-center justify-center text-center py-[90px] px-[80px] md:py-[75px] md:px-[70px] md:left-[-8px] md:right-[-8px]"
          >
            <h2 class="h2_mobil text-rod-500 pb-XS">følger med sæsonen</h2>
            <p class="p_mobil md:p text-blaa-900 max-w-XL">
              Vores smagsvarianter følger sæsonen og skifter efter årstidens
              råvarer
            </p>
          </div>

          <Image
            src={følgersæson}
            alt="billede af forskellige isvarianter"
            class="justify-center"
          />
        </div>
      </div>
    </div>
    <section class="bg-rod-50 pt-L px-M">
      <div class="flex overflow-x-scroll pb-10 hide-scroll-bar my-8">
        <div class="flex flex-nowrap lg:ml-40 md:ml-20 ml-10 gap-S">
          <div class="inline-block px-3">
            <Image
              src={isisolen}
              alt=""
              class="w-[700px] h-64 max-w-xs rounded-[300px] overflow-hidde"
            />
          </div>

          <div class="inline-block px-3">
            <Image
              src={isisolen}
              alt=""
              class="w-[500px] h-64 max-w-xs rounded-[300px] overflow-hidde"
            />
          </div>

          <div class="inline-block px-3">
            <Image
              src={isisolen}
              alt=""
              class="w-[500px] h-64 max-w-xs rounded-[300px] overflow-hidde"
            />
          </div>

          <div class="inline-block px-3">
            <Image
              src={isisolen}
              alt=""
              class="w-[500px] h-64 max-w-xs rounded-[300px] overflow-hidde"
            />
          </div>

          <div class="inline-block px-3">
            <Image
              src={isisolen}
              alt=""
              class="w-[500px] h-64 max-w-xs rounded-[300px] overflow-hidde"
            />
          </div>

          <div class="inline-block px-3">
            <Image
              src={isisolen}
              alt=""
              class="w-[500px] h-64 max-w-xs rounded-[300px] overflow-hidde"
            />
          </div>

          <div class="inline-block px-3">
            <Image
              src={isisolen}
              alt=""
              class="w-[500px] h-64 max-w-xs rounded-[300px] overflow-hidde"
            />
          </div>

          <div class="inline-block px-3">
            <Image
              src={isisolen}
              alt=""
              class="w-[500px] h-64 max-w-xs rounded-[300px] overflow-hidde"
            />
          </div>
        </div>
      </div>
    </section>
  </section>

  <div class="bg-rod-50 pt-L px-M">
    <div class="overflow-x-auto whitespace-nowrap p-4">
      <div class="">
        <Image
          src={isisolen}
          alt="Is i solen"
          class="inline-block w-40 h-40 object-cover mr-4"
          id="billede2"
        />
      </div>

      <div class="">
        <Image
          src={ispågaden}
          alt="Is på gadenn"
          class="inline-block w-40 h-40 object-cover mr-4"
          id="billede3"
        />
      </div>

      <div class="">
        <Image
          src={børnibutikken}
          alt="Børn i butikken"
          class="inline-block w-40 h-40 object-cover mr-4"
          id="billede4"
        />
      </div>

      <div class="">
        <Image
          src={ibutikken}
          alt="Kunder i butikken"
          class="inline-block w-40 h-40 object-cover mr-4"
          id="billede5"
        />
      </div>
    </div>
  </div>
</MainLayout>
